<template>
  <div class="screen" :class="{'screen_bind': !isReady}">
    <div class="main_center">

      <!-- Header -->
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > <router-link to="/ad-unit/list">広告ユニット</router-link> > 広告ユニットを更新
      </div>
      <div class="top_title">広告ユニットを更新する</div>

      <!-- Ad unit name -->
      <div class="input_item_container">
        <div class="input_item_label">広告ユニット名</div>
        <div class="vertical_line">|</div>
        <input v-model="adUnitName" class="form-control name_input" type="text">
        <img v-if="checkAdUnitName" class="img_check" src="../assets/check.png">
        <div v-else class="required_character">必須</div>
      </div>

      <!-- Ad unit sizes -->
      <div class="input_item_container">
        <div class="input_item_label">サイズ</div>
        <div class="vertical_line">|</div>
        <select v-model="adUnitSizes" class="form-control size_select" disabled>
          <option value="null">指定なし</option>
          <option v-for= "item in adUnitSizeList">{{ item }}</option>
        </select>
        <!-- <img v-if="checkAdUnitSizes" class="img_check" src="../assets/check.png">
        <div v-else class="required_character">必須</div> -->
      </div>

      <!-- Target window -->
<!--
      <div class="margin_up-down_20">
        <div class="main_center_flex">
          <div class="text_bold width_180 align_items_center padding_top_5 font_size_1rem">広告ユニット名</div>
          <div class="margin_left-right_8 padding_top_5">|</div>
          <input v-model="targetWindow" class="form-control width_160 width_252 height_32 font_size_1rem margin_0-8-0-30" type="text">
          <img v-if="checkTargetWindow" class="img_check" src="../assets/check.png">
          <div v-else class="required_character">必須</div>
        </div>
      </div>
-->

      <div class="bottom_side_line"></div>

      <!-- Update button -->
      <div class="button_column">
        <button @click="updateAdUnit"
                type="button"
                class="btn btn-success save_button"
                :disabled="!validated || clickGuard">
          更新
        </button>
        <router-link to="/ad-unit/list">
          <button type="button" class="btn btn-default cancel_button">キャンセル</button>
        </router-link>
      </div>

    </div>

    <!-- Modal displayed when created the ad unit -->
    <div id="createdModal" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createdModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="modal_header_label">メッセージ</div>
          </div>
          <div class="modal_body_text">
            <span>{{ message }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>


<script>
import { AD_UNIT_SIZES } from '../const';
export default {
  data() {
    return {
      adUnitName: '',
      adUnitSizeList: AD_UNIT_SIZES,
      adUnitSizes: '',
      originalAdUnitSize: '',
      checkAdUnitName: false,
      checkAdUnitSizes: false,
      clickGuard: false,
      message: '',
      isReady: false
    }
  },

  // TODO: 不要なら削除する。
  created: function(){
    let self = this;
    self.$http.get(`ad-units/${this.$route.params.ad_unit_id}`).then((response) => {
      self.adUnitName = response.data.contents[0].name;
      // ad unitのサイズを変数に格納する。
      let adUnitSizes = response.data.contents[0].ad_unit_sizes;
      if (adUnitSizes) {

        adUnitSizes.forEach((adUnitSize) => {
          let width = adUnitSize.size.width;
          let height = adUnitSize.size.height;
          self.adUnitSizes = `${width}x${height}`;
        });
      } else {
        self.adUnitSizes = null;
      }
      self.isReady = true;
      // self.$forceUpdate();
    }).catch((err)=>{
      console.log(err);
      this.isReady = true;
      if(err['error'] === 'token_expired') this.$router.push({path:'/login'});
    });
  },

  methods: {
    updateAdUnit() {
      let self = this;
      let adUnitSizes = [];
      // for (let i = 0; i < 1; i++) {
      if (self.adUnitSizes !== null ) {
        adUnitSizes.push({
          "size": {
            "width": self.adUnitSizes.split('x')[0],
            "height": self.adUnitSizes.split('x')[1],
            "is_aspect_ratio": false
          }
        });
      }
      // }
      let params = {
        "conditions":{
          "name": this.adUnitName,
          "ad_unit_sizes": adUnitSizes
        }
      };
      this.clickGuard = true;
      this.message = '広告ユニットを更新されました。';
      this.$http.put(`ad-units/${this.$route.params.ad_unit_id}`, params).then((response) => {
        this.clickGuard = false;
        $('#createdModal').modal('toggle');
      }).catch((err)=>{
        // console.log(err);
        self.message = 'この広告ユニット名は既に使用されています。';
        self.clickGuard = false;
        $('#createdModal').modal('toggle');
      });
    }
  },
  computed: {
    validated: function () {
      this.checkAdUnitName = this.adUnitName !== '';
      // this.checkAdUnitSizes = this.adUnitSizes !== '';

      return  (this.checkAdUnitName );//&& this.checkAdUnitSizes);
    }
  }
}
</script>


<style scoped>
.button_column {
  margin: 40px 60px 60px;
  text-align: center;
}
.name_input {
  width: 252px;
  height: 32px;
  font-size: 1rem;
}
.size_select {
  width: 210px;
  height: 32px;
  font-size: 1rem;
}
</style>
