<!-- START TEMPLATE -->
<template>
  <div class="screen">
    <div class="main_center">
      <!-- start above area -->
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > 広告ユニット
      </div>
      <div class="top_title_container">
        <div class="top_title">広告ユニット</div>
        <router-link to="/ad-unit/create">
          <button type="button" class="btn btn-success new_add_button">
            <img class="add_button_img" src="../assets/icon_add.png">新しい広告ユニットを追加
          </button>
        </router-link>
      </div>
      <!-- end above area -->

      <!-- start filter area -->
      <div class="refine_search_container">
        <!-- search boxes -->
        <div class="input_fields">
          <div class="input_fields_inner">

            <!-- Name -->
            <div class="refine_by_conditions_container">
              <div class="conditions_label">広告ユニット名</div>
              <div class="filtering_conditions_container">
                <div>
                  <input type="text" class="form-control" v-model='adUnitName' placeholder="広告ユニット名を入力"></input>
                </div>
              </div>
            </div>

            <!-- Status -->
            <div class="refine_by_conditions_container">
              <div class="conditions_label">ステータス</div>
              <div class="filtering_conditions_container">
                <div>
                  <select v-model="selectedStatus" class="custom-select">
                    <option class="select_placeholder" selected value="">ステータスを選択</option>
                    <option></option>
                    <option value="ACTIVE">アクティブ</option>
                    <option value="INACTIVE">非アクティブ</option>
                    <option value="ARCHIVED">アーカイブ済み</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- filtering button -->
        <div>
          <div class="refine_button_container">
            <button v-on:click="filterItems" type="button" class="btn btn-outline-success refine_button">絞り込み</button>
          </div>
        </div>
      </div>
      <!-- end filter area -->

      <div class="paging_margin" v-if="isReady === false"></div>

      <!-- start top pager -->
      <div class="paging_top" v-if="isReady">
        <button v-on:click="jumpToFirstPage" class="not_current_page">先頭</button>
        <button v-on:click="jumpToSelectedPage(pageNum)"
                v-for="pageNum in lastPageNum"
                type="button"
                v-bind:class="{current_page:currentPageNum === pageNum,
                               not_current_page:currentPageNum !== pageNum}">
          {{ pageNum }}
        </button>
        <button v-on:click="jumpToLastPage" class="not_current_page">最後</button>
      </div>
      <!-- end top pager -->

      <!-- start table and pager -->
      <div class="panel panel-default">
        <!-- start table -->
        <table class="table table_body">
          <!-- table header -->
          <tr class="panel-heding table_header">
            <td class="list_header_item list_item_check"></td>
            <td class="list_header_item list_item_name"><div class="list_title_label">広告ユニット名</div></td>
            <td class="list_header_item list_item_status"><div class="list_title_label">ステータス</div></td>
            <td class="list_header_item list_item_size"><div class="list_title_label">サイズ</div></td>
            <td class="list_header_item list_item_tag"></td>
            <td class="list_header_item list_item_editing"></td>
          </tr>

          <!-- table body -->
          <tr v-for="item in adUnitsPerPageList[currentPageNum - 1]" v-if="isReady" id="list">
            <td class="list_body_item">
              <div class="form-check"><label class="form-check-label"></label></div>
            </td>

            <!-- 名前 -->
            <td class="vertical_align_middle list_body_item">
              <router-link :to="'/ad-unit/update/' + item.id">
                <div class="ad_unit_name">{{ item.name }}</div>
              </router-link>
              <div class="list_id_name">ID:{{ item.id }}</div>
            </td>

            <!-- ステータス -->
            <td class="vertical_align_middle list_body_item">
              <div class="">
                {{ convertStatusToJapanese(item.status) }}
              </div>
            </td>

            <!-- サイズ -->
            <td class="vertical_align_middle list_body_item">
              <div class="">
                {{ getAdUnitSizes(item) }}
              </div>
            </td>

            <!-- Tag button -->
            <td class="list_body_item">
              <button type="button" v-on:click="generateTag(item)" class="btn btn-success editing_button">タグ生成</button>
            </td>

            <!-- Edit button -->
            <td class="list_body_item">
              <router-link :to="'/ad-unit/update/' + item.id">
                <button type="button" class="btn btn-success editing_button">編集</button>
              </router-link>
            </td>

          </tr>
        </table>
        <!-- end table -->

        <!-- Spinner -->
        <div :class="{'invisible': isReady}" class="pulse-loader">
          <pulse-loader></pulse-loader>
        </div>

        <div v-if="isReady && adUnitsPerPageList.length === 0" class="not_found_text">
          広告ユニットが見つかりませんでした。
        </div>

        <!-- start bottom pager -->
        <div class="paging_bottom" v-if="isReady">
          <button v-on:click="jumpToFirstPage" class="not_current_page">先頭</button>
          <button v-on:click="jumpToSelectedPage(pageNum)"
                  v-for="pageNum in lastPageNum"
                  type="button"
                  v-bind:class="{current_page:currentPageNum === pageNum,
                                 not_current_page:currentPageNum !== pageNum}">
            {{ pageNum }}
          </button>
          <button v-on:click="jumpToLastPage" class="not_current_page">最後</button>
        </div>
        <!-- end bottom pager -->
      </div>
      <!-- end table and pager -->

    </div>
    <!-- モーダル -->
    <div id="generateTagModal" ref="" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="tag_modal_label">貼り付けタグ</div>
          </div>
          <div class="tag_modal_body">
            <div class="tag_textarea_container">
              <textarea v-model="tagScript" onfocus="this.select();" class="tag_text" readonly></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<!-- END TEMPLATE -->

<!-- START SCRIPT -->
<script>
import { AD_UNIT_SIZES } from '../const';
var PulseLoader = require('vue-spinner/src/PulseLoader.vue');
export default{
  components:{
    'PulseLoader': PulseLoader
  },

  data(){
    return{
      isReady: false,
      // ページングにて必要
      adUnitsPerPageList: [],
      currentPageNum: 1,
      selectedPageNum: null,
      lastPageNum: null,
      // フィルタリングにて必要
      adUnitName: '',
      adUnits: '',
      selectedStatus: '',
      statusList: {
        "ACTIVE": "アクティブ",
        "INACTIVE": "非アクティブ",
        "ARCHIVED": "アーカイブ済み"
      },
      where: [],
      tagScript: ''
    }
  },

  created: function() {
    let self = this;
    self.$http.get('ad-units').then((response) => {
      self.isReady = true;
      self.adUnits = response.data.contents.data.filter(
        function(item) {
          if (!item.has_children) {
            return true;
          }
        }
      );
      self.adUnitsPerPageList = self.adUnits.chunk(20);
      self.lastPageNum = self.adUnitsPerPageList.length;
    }).catch((e)=>{
      console.log(e);
    });
  },

  methods:{
    getAdUnitSizes: function(adUnit) {
      let sizes = [];
      let sizeStr = '';
      if (adUnit.ad_unit_sizes === null) {
        return '未設定';
      }
      // 88x31の形に整形する。
      adUnit.ad_unit_sizes.forEach((adUnitSizes) =>{
        let width = adUnitSizes.size.width;
        let height = adUnitSizes.size.height;
        sizes.push(width + 'x' + height);
      })
      // sizeをカンマで区切り、最大3個まで表示する。
      sizeStr = sizes.slice(0, 3).join(', ')
      if (sizes.length > 3) {
        sizeStr += ', ...';
      }

      return sizeStr;
    },
    jumpToLastPage: function () {
      this.currentPageNum = this.lastPageNum;
      this.selectedPageNum = this.lastPageNum;
      this.$forceUpdate();
    },
    jumpToFirstPage: function () {
      this.currentPageNum = 1;
      this.selectedPageNum = 1;
      this.$forceUpdate();
    },
    jumpToSelectedPage: function (selectedPageNum) {
      this.currentPageNum = selectedPageNum;
      this.$forceUpdate();
    },
    convertStatusToJapanese: function (status) {
      let name = '';
      name = this.statusList[status] || 'その他';

      return name;
    },
    filterItems: function () {
      this.isReady = false;
      let conditions = {};
      let andGroup = [];

      if (this.adUnitName) {
        let clause = {
          "item": "Name",
          "operand": "LIKE",
          "quotations": true,
          "value": this.adUnitName
        };
        andGroup.push(clause);
      }
      if (this.selectedStatus) {
        let clause = {
          "item": "Status",
          "operand": "=",
          "quotations": true,
          "value": this.selectedStatus
        };
        andGroup.push(clause);
      }
      if (andGroup.length != 0) {
        conditions['where'] = [];
        conditions['where'].push(andGroup);
      }
      let params = {
        "conditions": conditions
      };

      this.$http.get('ad-units', {params: params}).then((response) => {
        this.isReady = true;
        this.adUnits = response.data.contents.data.filter(
          function(item) {
            if (!item.has_children) {
              return true;
            }
          }
        );
        this.adUnitsPerPageList = this.adUnits.chunk(20);
        this.lastPageNum = this.adUnitsPerPageList.length;
      }).catch((e)=>{
        console.log(e);
      });
    },
    randobet(n, b) { // n=ランダム文字列の長さ（数値）  b=ランダム文字列に含める英数字以外の文字
      b = b || '';
      var a = 'abcdefghijklmnopqrstuvwxyz0123456789' + b;
      a = a.split('');
      var s = '';
      for (var i = 0; i < n; i++) {
          s += a[Math.floor(Math.random() * a.length)];
      }
      return s;
    },
    generateTag(item) {
      let user = this.$store.getters['auth/user'];
      let networkCode = user.client.network_code;
      let adUnitName = item.name;
      let adUnitCode = item.code;
      let randomDivId = 'div-adsommelier-' + this.randobet(13);
      let adUnitSize = (item.ad_unit_sizes !== null)? item.ad_unit_sizes[0].size : { width:0, height:0 } ;

      let bodyScript = `<!-- AD_SOMMELIER : ${adUnitName} -->
<div id='${randomDivId}' style='height:${adUnitSize.height}px; width:${adUnitSize.width}px;'>
  <script>
    adsommelier.display('${networkCode}/${adUnitCode}', [${adUnitSize.width}, ${adUnitSize.height}], '${randomDivId}');
  <\/script>
</div>`;

      this.tagScript = bodyScript;
      $('#generateTagModal').modal('toggle');
    }
  }
}
</script>
<!-- END SCRIPT -->

<!-- START STYLE -->
<style scoped>
.input_fields_inner {
  width: 100%;
  display: flex;
}
.ad_unit_name {
  color: #1CA16A;
  font-weight: bold;
  font-size: 1rem;
}
.vertical_align_middle {
  vertical-align: middle;
}
.invisible {
  display: none;
}
.paging_top {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 5px;
}
.paging_bottom {
  text-align: center;
}
.current_page {
  border: none;
  font-weight: bold;
  background-color: #ffffff;
  outline: none;
  margin: 2px;
}
.not_current_page {
  border: solid 1px #1CA16A;
  background-color: #ffffff;
  color: #1CA16A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  outline: none;
  margin: 2px;
}
.paging_margin {
  margin: 100px;
}
.custom-select {
  width: 238px;
}
.custom-select, .form-control {
  font-size: 1rem;
  height: 32px;
}
.list_id_name {
  font-size: 0.7rem;
}
.filtering_conditions_container {
  margin: 10px;
}
.tag_modal_label {
  margin-right: 180px;
  font-size: 1rem;
}
.tag_modal_body {
  font-size: 1rem;
  text-align: center;
}
.tag_textarea_container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: middle;
}
.tag_text {
  width: 100%;
  height: 240px;
  padding: 20px;
  resize: none;
  background-color: #eee;
}
.list_item_name {
  min-width: 300px;
}
.list_item_status {
  min-width: 270px;
}
.list_item_size {
  min-width: 280px;
}
.list_item_tag, .list_item_editing {
  min-width: 120px;
}
.list_body_item > button, .list_body_item > a > button {
  margin-bottom: 25px;
}
</style>
<!-- END STYLE -->
