<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > 広告主
      </div>
      <div class="top_title_container">
        <div class="top_title">広告主</div>
        <router-link to="/advertiser/create">
          <button type="button" class="btn btn-success new_add_button">
            <img src="../assets/icon_add.png" class="add_button_img">新しい広告主を追加
          </button>
        </router-link>
      </div>
      <div class="refine_search_container">
        <div class="input_fields">
          <div class="refine_by_conditions_container">
            <div class="conditions_label">広告主名</div>
            <div class="selection_field">
              <div class="dropdown open table_div">
                <div class="form-group text_box_float">
                  <input v-model.trim="advertiserName" type="text" v-validate="'required'" name="advertiser_name" placeholder="広告主名を入力" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="refine_by_conditions_container">
            <div class="conditions_label">タイプ</div>
            <div class="selection_field">
              <div class="dropdown open table_div">
                <div class="form-group text_box_float">
                  <select v-model="selectedType" class="form-control type_dropdown">
                    <option value="" disabled selected class="select_placeholder">タイプを選択</option>
                    <option></option>
                    <option value="ADVERTISER">広告主</option>
                    <option value="AD_NETWORK">広告ネットワーク</option>
                    <option value="AGENCY">代理店</option>
                    <option value="HOUSE_ADVERTISER">自社広告主</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="refine_button_container">
          <button type="button" class="btn btn-outline-success refine_button" v-on:click="listFilter">絞り込み</button>
        </div>
      </div>
      <div class="paging_margin" v-if="isReady === false"></div>
      <!-- ページング -->
      <div class="paging_top" v-if="isReady">
        <button v-on:click="moveToPage(0)" class="paging_css">先頭</button>
        <button v-for="(advertisers, index) in advertiserList" v-on:click="moveToPage(index)" type="button" v-bind:class="{paging_class:pageIndex===index, paging_css:pageIndex!==index}">{{index + 1}}</button>
        <button v-on:click="moveToPage(advertiserList.length - 1)" class="paging_css">最後</button>
      </div>
      <!-- /ページング -->
      <div class="panel panel-default">
        <table class="table table_body">
          <tr class="panel-heding table_header">
            <td class="list_header_item list_item_check"></td>
            <td class="list_header_item list_item_name"><div class="list_title_label">広告主名</div></td>
            <td class="list_header_item list_item_type"><div class="list_title_label">タイプ</div></td>
            <td class="list_header_item list_item_editing"></td>
          </tr>
          <tr v-for='item in advertiserList[pageIndex]' v-if="isReady" id="list">
            <td class="list_body_item"><div class="form-check"><label class="form-check-label"></label></div></td>
            <td class="list_body_item">
              <router-link :to="'/advertiser/update/' + item.advertiser_id"><div class="list_item_advertiser_name">{{item.advertiser_name}}</div></router-link>
              <div class="list_item_advertiser_inner_id">ID:{{item.advertiser_id}}</div>
            </td>
            <td class="list_body_item"><div>{{checkAdvertiserType(item.type)}}</div></td>
            <td class="list_body_item editing_button_container">
              <router-link :to="'/advertiser/update/' + item.advertiser_id">
                <button type="button" class="btn btn-success editing_button">編集</button>
              </router-link>
            </td>
          </tr>
        </table>
        <div :class="{'invisible': isReady}" class="pulse-loader"><!-- ローディングの際のアニメーション -->
          <pulse-loader></pulse-loader>
        </div><!-- /ローディングの際のアニメーション -->
        <div v-if="isReady && advertiserList.length === 0" class="not_found_text">
          広告主が見つかりませんでした。
        </div>
      </div>
      <!-- ページング -->
      <div class="paging_bottom" v-if="isReady">
        <button v-on:click="moveToPage(0)" class="paging_css">先頭</button>
        <button v-for="(advertisers, index) in advertiserList" v-on:click="moveToPage(index)" type="button" v-bind:class="{paging_class:pageIndex===index, paging_css:pageIndex!==index}">{{index + 1}}</button>
        <button v-on:click="moveToPage(advertiserList.length - 1)" class="paging_css">最後</button>
      </div>
      <!-- /ページング -->
    </div>
  </div>
</template>


<script>
var PulseLoader = require('vue-spinner/src/PulseLoader.vue');

export default {
  components:{
    'PulseLoader': PulseLoader
  },
  data(){
    return{
      advertiserList: [],
      pageIndex: 0,
      displayNumber: 20,
      advertisers: [],
      audienceList: [],
      filterName: '',
      filterDays: '',
      filterStatus: '',
      isReady: false,
      advertiserName: '',
      selectedType: ''
    }
  },
  created: function(){
    this.$http.get('advertisers').then((response) => {
      this.advertisers = response.data.contents;
      this.advertiserList = this.advertisers.chunk(this.displayNumber);
      this.$forceUpdate();
      this.isReady = true;
    }).catch((err)=>{
      console.log(err);
      this.isReady = true;
      if(err['error'] === 'token_expired') this.$router.push({path:'/login'});
    });
  },
  methods: {
    checkAdvertiserType: function(advertiserType){
      let type = '';
      if (advertiserType === "ADVERTISER") {
        return type = "広告主";
      }
      if (advertiserType === "AD_NETWORK") {
        return type = "広告ネットワーク";
      }
      if (advertiserType === "AGENCY") {
        return type = "代理店";
      }
      if (advertiserType === "HOUSE_ADVERTISER") {
        return type = "自社広告主";
      }
      return type;
    },
    listFilter: function(){
      this.isReady = false;
      let self = this;
      let conditions = {};
      let andGroup = [];
      if (this.advertiserName) {
        let clause = {
          "item": "name",
          "operand": "LIKE",
          "quotations": true,
          "value": self.advertiserName
        };
        andGroup.push(clause);
      }
      if (this.selectedType) {
        let clause = {
          "item": "type",
          "operand": "=",
          "quotations": true,
          "value": self.selectedType
        };
        andGroup.push(clause);
      }
      if (andGroup.length != 0) {
        conditions['where'] = [];
        conditions['where'].push(andGroup);
      }
      let params = {
        "conditions": conditions
      };
      this.$http.get('advertisers', {params: params}).then((response) => {
        this.isReady = true;
        this.advertisers = response.data.contents;
        this.advertiserList = this.advertisers.chunk(this.displayNumber);
        this.pageIndex = 0;
      }).catch((e) => {
        console.log(e);
      });
    },
    moveToPage(index){
      this.pageIndex = index;
    },
    statusText(status){
      if(status === 'ACTIVE') return '有効';
      if(status === 'IN_PREPARATION') return '準備中';
    }
  }
}
</script>


<style scoped>
.invisible {
  display: none;
}
.selection_field {
  -webkit-align-items:flex-start;
  align-items: flex-start;
  -webkit-flex-direction:column-reverse;
  flex-direction: column-reverse;
  margin: 5px 10px 10px 10px;
}
.table_div {
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.paging_top {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 5px;
}
.paging_bottom {
  text-align: center;
}
.paging_class {
  border: none;
  font-weight: bold;
  background-color: #ffffff;
  outline: none;
  margin: 2px;
}
.paging_css {
  border: solid 1px #1CA16A;
  background-color: #ffffff;
  color: #1CA16A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  outline: none;
  margin: 2px;
}
.type_dropdown {
  width: 180px;
}
.list_item_advertiser_name {
  font-weight: bold;
  color: #1CA16A;
  font-size: 1rem;
}
.list_item_advertiser_inner_id {
  font-size: 0.7rem;
}
.list_item_type_outer {
  width: 300px;
  line-height: 80px;
}
.paging_margin {
  margin: 100px;
}
.list_item_name {
  min-width: 400px;
}
.list_item_type {
  min-width: 400px;
}
.list_item_editing {
  min-width: 290px;
}
.editing_button_container > a {
  padding-bottom: 25px;
}
</style>
