<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > <router-link to="/advertiser/list">広告主</router-link> > 広告主を更新
      </div>
      <div class="top_title">広告主を更新する</div>
      <div class="inputs_container">
        <div class="input_item_container">
          <div class="input_item_label">広告主名</div>
          <div class="vertical_line">|</div>
          <input v-model.trim="advertiserName" type="text" class="form-control input_name_area" placeholder="名前を入力してください">
          <img v-if="advertiserNameIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
        <div class="bottom_side_line"></div>
      </div>
      <div class="button_wrap">
        <button type="button" class="btn btn-success save_button" data-toggle="modal" data-target="#createdAdvertiser" @click="updateAdvertiser" :disabled="!validated || clickGuard">更新</button>
        <router-link to="/advertiser/list">
          <button type="button" class="btn btn-default cancel_button">キャンセル</button>
        </router-link>
      </div>
    </div>
    <!-- モーダル -->
    <div id="createdAdvertiser" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="modal_header_label">メッセージ</div>
          </div>
          <div class="modal_body_text">
            <span>{{advertiserResultMessage}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return{
        advertiserName: '',
        advertiserNameIsValid: false,
        advertiserLists: [],
        clickGuard: false,
        advertiserResultMessage: ''
      }
    },
    created: function(){
      let self = this;
      let params = {
        "conditions":{}
      }
      self.$http.get(`advertisers/${this.$route.params.id}`).then((advertisersRes) => {
        self.advertiserLists = advertisersRes.data.contents[0];
        self.advertiserName = self.advertiserLists.advertiser_name;
      }).catch((err)=>{
        console.log(err);
      });
    },
    methods: {
      updateAdvertiser: function(){
        let self = this;
        let params = {
          'conditions': {
            'name': this.advertiserName,
          }
        };
        this.clickGuard = true;
        this.$http.put(`advertisers/${this.$route.params.id}`, params).then((res) => {
          self.advertiserResultMessage = '広告主を更新しました。';
          self.clickGuard = false;
          $('#createdAdvertiser').modal('toggle');
        }).catch((err)=>{
          // console.log(err);
          self.advertiserResultMessage = 'この広告主名は既に使用されています。';
          self.clickGuard = false;
          $('#createdAdvertiser').modal('toggle');
        });
      },
    },
    computed: {
      validated: function () {
        this.advertiserNameIsValid = this.advertiserName !== '';
        return (this.advertiserNameIsValid);
      }
    }
  }
</script>

<style scoped>
.inputs_container {
  margin-top: 30px;
}
.input_name_area {
  width: 224px;
  height: 32px;
}
.button_wrap {
  text-align: center;
  margin: 40px 60px 60px;
}
</style>
