<template>
  <div class="screen" :class="{'screen_bind': !isReady}">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > <router-link to="/audience/list">オーディエンス</router-link> > オーディエンスを作成
      </div>
      <div class="top_title">オーディエンスを作成する</div>
      <div class="input_item_container">
        <div class="input_item_label">オーディエンス名</div>
        <div class="vertical_line">|</div>
        <input v-model="audienceName" class="form-control audience_input_field" type="text" placeholder="オーディエンス名を入力してください">
        <img v-if="checkAudienceName" class="img_check" src="../assets/check.png">
        <div v-else class="required_character">必須</div>
      </div>
      <!--  Tdの利用可能データベースを選択  -->
      <div class="input_item_container">
        <div class="input_item_label">データベース</div>
        <div class="vertical_line">|</div>
        <div class="form-group">
          <select v-model="tdDatabaseName" v-on:change="dbSelectUpdate()" class="custom-select db_input_field">
            <option value="" disabled selected class="select_placeholder">データベースを選択してください</option>
            <option v-for="(db, i) in tdAvailableDatabasesAndTables" :value="db.name">{{db.name}}</option>
          </select>
        </div>
        <img v-if="checkTdDatabase" class="img_check" src="../assets/check.png">
        <div v-else class="required_character">必須</div>
      </div>
      <div class="input_item_container">
        <div class="input_item_label">オーディエンス抽出条件</div>
        <span class="vertical_line">|</span>
        <query-builder
          :tdAvailableDatabasesAndTables="tdAvailableDatabasesAndTables"
          :criteriaGroups="criteriaGroups"
          :tdDatabaseName="tdDatabaseName"
          @update-criteria="updateCriteria"
          >
        </query-builder>
      </div>
      <!-- Input days -->
      <div class="input_item_container">
        <div class="input_item_label">対象期間</div>
        <span class="vertical_line">|</span>
        <div class="form-group float_left">
          <div class="target_period_input_container">
            <span class="font_size_1rem">過去</span>
            <input v-model="days" class="form-control target_period_input_field" type="number" min="1" max="365">
            <span class="font_size_1rem">日</span>
          </div>
        </div>
        <div v-if="!checkDays" class="required_character">必須</div>
        <div v-else-if="days > 365" class="required_text">対象期間は365日以下にしてください</div>
        <img v-else class="img_check" src="../assets/check.png">
      </div>
      <div class="bottom_side_line"></div>
      <div class="button_column">
        <button @click="createAudience" type="button" class="btn btn-success save_button" :disabled="!validated || clickGuard">保存</button>
        <router-link to="/audience/list">
          <button type="button" class="btn btn-default cancel_button">キャンセル</button>
        </router-link>
      </div>
    </div>
    <!-- Created Modal -->
    <div id="createdModal" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createdModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="modal_header_label">メッセージ</div>
          </div>
          <div class="modal_body_text">
            <span>{{ resultMessage }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /Created Modal -->
  </div>
</template>


<script>
export default {
  components: {
    'query-builder': require('../components/QueryBuilder')
  },
  data() {
    return {
      criteriaGroups: [],
      audienceName: '',
      tdDatabaseName: '',
      days: '',
      tdAvailableDatabasesAndTables: [],
      checkTdDatabase: false,
      checkAudienceName: false,
      checkCriteriaGroups: false,
      checkDays: false,
      clickGuard: false,
      isReady: false,
      resultMessage: ''
    }
  },

  created: function(){
    let self = this;
    // TODO: "IP whitelists are enabled for this user" エラーへの対応通知
    this.$http.get('td/available_tables').then((response) => {
      self.tdAvailableDatabasesAndTables = response.data;
      self.tdDatabaseName = self.tdAvailableDatabasesAndTables[0].name;
      self.initCriteriaGroup();
      self.isReady = true;
      // self.$forceUpdate();
    }).catch((err)=>{
      console.log(err);
      this.isReady = true;
      if(err['error'] === 'token_expired') this.$router.push({path:'/login'});
    });
  },

  methods: {
    updateCriteria(val){
      this.criteriaGroups = val;
    },
    dbSelectUpdate(){
      this.initCriteriaGroup();
      this.$forceUpdate();
    },
    newCriteria(){
      return {
        connect_before_by: "AND",
        table: "",
        column: "",
        operand: "",
        value: "",
        type: ""
      };
    },
    newCriteriaGroup(){
      let criteria = this.newCriteria();
      criteria.connect_before_by = "";
      return {
        connect_before_by: "OR",
        children: [ criteria ]
      };
    },
    initCriteriaGroup(){
      let criteriaGroup = this.newCriteriaGroup();
      criteriaGroup.connect_before_by = "";
      this.criteriaGroups = [ criteriaGroup ];
    },
    checkConditions(){
      let isFilled = true;
      this.criteriaGroups.forEach((group)=>{
        group.children.forEach((criteria)=>{
          if(criteria.table === '' || criteria.column === '' || criteria.operand === '' || criteria.value === '' ){
            isFilled = false;
          }
        });
      });
      return isFilled;
    },
    createAudience(){
      let self = this;
      var params = {
        "name": this.audienceName,
        "td_database": this.tdDatabaseName,
        "conditions": this.criteriaGroups,
        "days": this.days
      };
      this.clickGuard = true;
      this.$http.post('audiences', params, {}).then((res) => {
        console.log(res);
        this.clickGuard = false;
        this.resultMessage = "オーディエンスが作成されました";
        $('#createdModal').modal('toggle');
        $('#createdModal').on('hidden.bs.modal', function (e) {
          self.$router.push('/audience/list');
        })
      }).catch((err)=>{
        console.log(err);
        this.resultMessage = "リクエストに失敗しました";
      });
    }
  },
  computed: {
    validated: function () {
      this.checkTdDatabase = this.tdDatabaseName !=='';
      this.checkAudienceName = this.audienceName !== '';
      this.checkDays = this.days !== '';
      return  (this.checkTdDatabase && this.checkAudienceName && this.checkDays && this.checkConditions() );
    }
  }
}
</script>


<style scoped>
.button_column {
  margin: 40px 60px 60px;
  text-align: center;
}
.form-group {
  margin-bottom: 9px;
}
.font_size_1rem {
  font-size: 1rem;
}
.float_left {
  float: left;
}
.audience_input_field {
  width: 280px;
  height: 32px;
  font-size: 1rem;
}
.db_input_field {
  width: 252px;
  height: 32px;
  font-size: 1rem;
}
.target_period_input_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.target_period_input_field {
  font-size: 1rem;
  margin: 0 8px;
  width: 80px;
}
.required_text {
  color: #B22222;
  font-weight: bold;
  font-size: 1rem;
  float: left;
  margin: 6px 0 15px 10px;
}
</style>
