<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > オーディエンス
      </div>
      <div class="top_title_container">
        <div class="top_title">オーディエンス</div>
        <router-link to="/audience/create">
          <button type="button" class="btn btn-success new_add_button">
            <img src="../assets/icon_add.png" class="add_button_img">新しいオーディエンスを追加
          </button>
        </router-link>
      </div>
      <div class="refine_search_container">
        <div class="input_fields">
          <div class="refine_by_conditions_container">
            <div class="conditions_label">オーディエンス名</div>
            <div class="interval selection_field">
              <div class="dropdown open">
                <div class="form-group text_box_float">
                  <input v-model.trim="filterName" type="text" v-validate="'required'" name="advertiser_name" placeholder="オーディエンス名を入力" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="refine_by_conditions_container">
            <div class="conditions_label">ステータス</div>
            <div class="interval selection_field">
              <div class="dropdown open">
                <div class="form-group dropdown_menu_1">
                  <select class="custom-select" v-model='filterStatus'>
                    <option value=''>指定なし</option>
                    <option value='ACTIVE'>有効</option>
                    <option value='IN_PREPARATION'>準備中</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="refine_by_conditions_container">
            <div class="conditions_label">対象期間</div>
            <div class="interval selection_field">
              <div class="dropdown open">
                <div class="form-group dropdown_menu_1">
                  <select class="custom-select" v-model='filterDays'>
                    <option value=''>指定なし</option>
                    <option value='_30'>30日以下</option>
                    <option value='31_60'>31 〜 60日</option>
                    <option value='61_90'>61 〜 90日</option>
                    <option value='91_120'>91 〜 120日</option>
                    <option value='121_'>121日以上</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="refine_button_container">
          <button type="button" class="btn btn-outline-success refine_button" v-on:click="listFilter()">絞り込み</button>
        </div>
      </div>
      <div class="paging_margin" v-if="isReady === false"></div>
      <!-- ページング -->
      <div class="paging_top" v-if="isReady">
        <button v-on:click="moveToPage(0)" class="paging_css">先頭</button>
        <button v-for="(audiences, index) in audienceList" v-on:click="moveToPage(index)" type="button" v-bind:class="{paging_class:pageIndex===index, paging_css:pageIndex!==index}">{{index + 1}}</button>
        <button v-on:click="moveToPage(audienceList.length - 1)" class="paging_css">最後</button>
      </div>
      <!-- /ページング -->
      <div class="panel panel-default">
        <table class="table table_body">
          <tr class="panel-heding table_header">
            <td class="list_header_item list_item_check"></td>
            <td class="list_header_item list_item_name"><div class="list_title_label">オーディエンス名</div></td>
            <td class="list_header_item list_item_period"><div class="list_title_label">対象期間</div></td>
            <!-- <td><div class="list_title_label">ユーザー数</div></td> -->
            <td class="list_header_item list_item_status"><div class="list_title_label">ステータス</div></td>
            <td class="list_header_item list_item_editing"></td>
          </tr>
          <tr v-for='item in audienceList[pageIndex]' v-if="isReady" id="list">
            <td class="list_body_item"><div class="form-check"><label class="form-check-label"></label></div></td>
            <td class="list_item_container list_body_item">
              <router-link :to="'/audience/update/' + item.hash_id"><div class="list_audience_name">{{item.name}}</div></router-link>
            </td>
            <td class="list_item_container list_body_item">{{item.days}}</td>
            <!-- <td class="list_item_container">{{item.user_count}}</td> -->
            <td class="list_item_container list_body_item">{{statusText(item.status)}}</td>
            <td class="list_body_item editing_button_container"><router-link :to="'/audience/update/' + item.hash_id"><button type="button" class="btn btn-success editing_button">編集</button></router-link></td>
          </tr>
        </table>
        <div :class="{'invisible': isReady}" class="pulse-loader"><!-- ローディングの際のアニメーション -->
          <pulse-loader></pulse-loader>
        </div><!-- /ローディングの際のアニメーション -->
        <div v-if="isReady && audienceList.length === 0" class="not_found_text">
          オーディエンスが見つかりませんでした。
        </div>
      </div>
      <!-- ページング -->
      <div class="paging_bottom" v-if="isReady">
        <button v-on:click="moveToPage(0)" class="paging_css">先頭</button>
        <button v-for="(audiences, index) in audienceList" v-on:click="moveToPage(index)" type="button" v-bind:class="{paging_class:pageIndex===index, paging_css:pageIndex!==index}">{{index + 1}}</button>
        <button v-on:click="moveToPage(audienceList.length - 1)" class="paging_css">最後</button>
      </div>
      <!-- /ページング -->
    </div>
  </div>
</template>


<script>
var PulseLoader = require('vue-spinner/src/PulseLoader.vue');

export default {
  components:{
    'PulseLoader': PulseLoader
  },
  data(){
    return{
      pageIndex: 0,
      displayNumber:20,
      audiences: [],
      audienceList: [],
      filterName: '',
      filterDays: '',
      filterStatus: '',
      isReady: false
    }
  },
  created: function(){
    this.$http.get('audiences').then((response) => {
      this.audiences = response.data.audiences;
      this.audienceList = this.audiences.chunk(this.displayNumber);
      this.$forceUpdate();
      this.isReady = true;
    }).catch((err)=>{
      console.log(err);
      this.isReady = true;
      if(err['error'] === 'token_expired') this.$router.push({path:'/login'});
    });
  },
  methods: {
    listFilter(){
      let self = this;
      let audienceList = [];
      let audiences = self.audiences.concat();
      if(self.filterName){
        let re = new RegExp(`.*${self.filterName}.*`);
        audiences = audiences.filter((audience)=>{
          return (audience.name.match(re));
        });
      }
      if(self.filterStatus){
        audiences = audiences.filter((audience)=>{
          return (audience.status === self.filterStatus );
        });
      }
      if(self.filterDays){
        let daysRange = self.filterDays.split('_');
        let daysMin = daysRange[0];
        let daysMax = daysRange[1] || '';
        audiences = audiences.filter((audience)=>{
          let inMinRange = (daysMin === '' || audience.days >= daysMin);
          let inMaxRange = (daysMax === '' || audience.days <= daysMax);
          return (inMinRange && inMaxRange );
        });
      }
      self.audienceList = audiences.chunk(this.displayNumber);
      self.pageIndex = 0;
    },
    moveToPage(index){
      this.pageIndex = index;
    },
    statusText(status){
      if(status === 'ACTIVE') return '有効';
      if(status === 'IN_PREPARATION') return '準備中';
    }
  }
}
</script>


<style scoped>
.invisible {
  display: none;
}
.selection_field {
  -webkit-align-items:flex-start;
  align-items: flex-start;
  -webkit-flex-direction:column-reverse;
  flex-direction: column-reverse;
}
.interval {
  margin: 10px;
}
.dropdown_menu_1 {
  width: 250px;
  text-align: left;
  font-size: 15px;
  margin-bottom: 0px;
}
select.custom-select {
  height: 32px;
  width: 280px;
}
.paging_top {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 5px;
}
.paging_bottom {
  text-align: center;
  margin-bottom: 50px;
}
.paging_class {
  border: none;
  font-weight: bold;
  background-color: #ffffff;
  outline: none;
  margin: 2px;
}
.paging_css {
  border: solid 1px #1CA16A;
  background-color: #ffffff;
  color: #1CA16A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  outline: none;
  margin: 2px;
}
.paging_margin {
  margin: 100px;
}
.list_item_container {
  height: 110px;
  line-height: 90px;
}
.form-control {
  height: 32px;
}
.list_audience_name {
  font-weight: bold;
  color: #1CA16A;
  font-size: 1rem;
}
.list_item_name {
  min-width: 400px;
}
.list_item_period, .list_item_status, .list_item_editing {
  min-width: 230px;
}
</style>
