<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > <router-link to="/audience/list">オーディエンス</router-link> > オーディエンスを更新
      </div>
      <div class="top_title">オーディエンスを更新する</div>
      <div class="input_item_container">
        <div class="input_item_label">オーディエンス名</div>
        <div class="vertical_line">|</div>
        <input v-model="audienceName" class="form-control audience_input_field" type="text">
        <img v-if="checkAudienceName" class="img_check" src="../assets/check.png">
        <div v-else class="required_character">必須</div>
      </div>
      <!--  Tdの利用可能データベースを選択  -->
      <div class="input_item_container">
        <div class="input_item_label">データベース</div>
        <div class="vertical_line">|</div>
        <div class="form-group">
          <select v-model="tdDatabaseName" v-on:change="dbSelectUpdate()" class="custom-select db_input_field">
            <option v-for="(db, i) in tdAvailableDatabasesAndTables" :value="db.name">{{db.name}}</option>
          </select>
        </div>
        <img v-if="checkTdDatabase" class="img_check" src="../assets/check.png">
        <div v-else class="required_character">必須</div>
      </div>
      <div class="input_item_container">
        <div class="input_item_label">オーディエンス抽出条件</div>
        <span class="vertical_line">|</span>
        <query-builder
          :tdAvailableDatabasesAndTables="tdAvailableDatabasesAndTables"
          :criteriaGroups="criteriaGroups"
          :tdDatabaseName="tdDatabaseName"
          @update-criteria="updateCriteria"
          >
        </query-builder>
      </div>
      <!-- Input days -->
      <div class="input_item_container">
        <div class="input_item_label">対象期間</div>
        <span class="vertical_line">|</span>
        <div class="form-group text_box_float">
          <div class="target_period_input_container">
            <span class="font_size_1rem">過去</span>
            <input v-model="days" class="form-control target_period_input_field" type="number" min="1" max="365">
            <span class="font_size_1rem">日</span>
          </div>
        </div>
        <div v-if="!checkDays" class="required_character">必須</div>
        <div v-else-if="days > 365" class="required_text">対象期間は365日以下にしてください</div>
        <img v-else class="img_check" src="../assets/check.png">
      </div>
      <div class="bottom_side_line"></div>
      <div class="button_column">
        <button @click="updateAudience" type="button" class="btn btn-success save_button" :disabled="!validated || clickGuard" >更新</button>
        <button @click="deleteAudience" type="button" class="btn btn-danger delete_button_mid"  :disabled="!isReady || clickGuard" >削除</button>
      </div>
    </div>
    <!-- Updated Modal -->
    <div id="updatedModal" ref="updatedModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="modal_header_label">メッセージ</div>
          </div>
          <div class="modal_body_text">
            <span>オーディエンスを更新しました。</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /Updated Modal -->
    <!-- Deleted Modal -->
    <div id="deletedModal" ref="deletedModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deletedModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="modal_header_label">メッセージ</div>
          </div>
          <div class="modal_body_text">
            <span>オーディエンスを削除しました。</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /Deleted Modal -->
  </div>
</template>


<script>
export default {
  components: {
    'query-builder': require('../components/QueryBuilder')
  },
  data() {
    return {
      criteriaGroups: [],
      audienceName: '',
      tdDatabaseName: '',
      days: '',
      tdAvailableDatabasesAndTables: [],
      checkTdDatabase: false,
      checkAudienceName: false,
      checkCriteriaGroups: false,
      checkDays: false,
      clickGuard: false,
      isReady: false
    }
  },

  created: function(){
    let self = this;
    this.$http.all([
      self.$http.get('td/available_tables'),
      self.$http.get(`audiences/${this.$route.params.audience_id}`)
    ]).then(([res1, res2])=>{
      self.tdAvailableDatabasesAndTables = res1.data;
      self.audienceName = res2.data.name;
      self.tdDatabaseName = res2.data.td_database;
      self.criteriaGroups = JSON.parse(res2.data.conditions);
      self.days = res2.data.days;
      self.$forceUpdate();
      self.isReady = true;
    }).catch((err)=>{
      console.log(err);
      this.isReady = true;
      if(err['error'] === 'token_expired') this.$router.push({path:'/login'});
    });
  },

  methods: {
    updateCriteria(val){
      this.criteriaGroups = val;
    },
    dbSelectUpdate(){
      this.initCriteriaGroup();
      this.$forceUpdate();
    },
    newCriteria(){
      return {
        connect_before_by: "AND",
        table: "",
        column: "",
        operand: "",
        value: "",
        type: ""
      };
    },
    newCriteriaGroup(){
      let criteria = this.newCriteria();
      criteria.connect_before_by = "";
      return {
        connect_before_by: "OR",
        children: [ criteria ]
      };
    },
    initCriteriaGroup(){
      let criteriaGroup = this.newCriteriaGroup();
      criteriaGroup.connect_before_by = "";
      this.criteriaGroups = [ criteriaGroup ];
    },
    checkConditions(){
      let isFilled = true;
      this.criteriaGroups.forEach((group)=>{
        group.children.forEach((criteria)=>{
          if(criteria.table === '' || criteria.column === '' || criteria.operand === '' || criteria.value === '' ){
            isFilled = false;
          }
        });
      });
      return isFilled;
    },
    updateAudience(){
      var params = {
        "name": this.audienceName,
        "td_database": this.tdDatabaseName,
        "conditions": this.criteriaGroups,
        "days": this.days
      };
      this.clickGuard = true;
      this.$http.put(`audiences/${this.$route.params.audience_id}`, params, {}).then((res) => {
        console.log(res);
        this.clickGuard = false;
        $('#updatedModal').modal('toggle');
      }).catch((err)=>{
        console.log(err);
      });
    },
    deleteAudience(){
      let self = this;
      this.clickGuard = true;
      this.$http.delete(`audiences/${this.$route.params.audience_id}`, {}).then((res) => {
        console.log(res);
        this.clickGuard = false;
        $('#deletedModal').modal('toggle');
        $('#deletedModal').on('hidden.bs.modal', function (e) {
          self.$router.push('/audience/list');
        });
      }).catch((err)=>{
        console.log(err);
      });
    }
  },

  computed: {
    validated: function () {
      this.checkTdDatabase = this.tdDatabaseName !=='';
      this.checkAudienceName = this.audienceName !== '';
      this.checkDays = this.days !== '';
      return  (this.checkTdDatabase && this.checkAudienceName && this.checkDays && this.checkConditions() );
    }
  }
}
</script>


<style scoped>
.button_column {
  margin: 40px 60px 60px;
  text-align: center;
}
.form-group {
  margin-bottom: 9px;
}
.delete_button_mid {
  background-color: #EF466B;
  color: #ffffff;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin-left:10px;
  font-weight: bold;
  border: none;
}
.text_box_float {
  float: left;
}
.font_size_1rem {
  font-size: 1rem;
}
.audience_input_field {
  width: 224px;
  height: 32px;
  font-size: 1rem;
}
.db_input_field {
  width: 140px;
  height: 32px;
  font-size: 1rem;
}
.target_period_input_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.target_period_input_field {
  font-size: 1rem;
  margin: 0 8px;
  width: 80px;
}
.required_text {
  color: #B22222;
  font-weight: bold;
  font-size: 1rem;
  float: left;
  margin: 6px 0 15px 10px;
}
</style>
