<template>
  <div class="screen" @click.capture="creativePageClicl">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > <router-link to="/creative/list">クリエイティブ</router-link> > クリエイティブを更新
      </div>
      <div class="top_title">クリエイティブを更新する</div>
      <div class="boxContainer">
        <div class="body box">
          <div class="input_item_container">
            <div class="input_item_label">クリエイティブ名</div>
            <div class="vertical_line">|</div>
            <div class="form-group text_box_float">
              <input v-model.trim="creative_name" type="text" class="form-control" placeholder="クリエイティブ名を入力してください">
            </div>
            <img v-if="check_agency" class="img_check" src="../assets/check.png">
            <div v-else class="required_character">必須</div>
          </div>
            <!-- start 画像アップロード -->
          <div class="input_item_container">
            <div class="input_item_label">画像</div>
            <div class="vertical_line">|</div>
            <div class="form-group text_box_float">
              <div class="selected_img">
                <img v-if="!fileData" :src="assetUrl" class="selected_img">
                <div :class="{display_none: fileData==null}"><img class="selected_img" :src="fileData"></div>
                <input type="file" v-on:change="getImageAsBase64" class="img_input"></input>
              </div>
            </div>
          </div>
          <div class="img_caution_text" >※画像は1MB以下まで添付可能です。</div>
            <!-- end 画像アップロード -->
          <div class="input_item_container">
            <div class="input_item_label">コード</div>
            <div class="vertical_line">|</div>
            <div class="macro_container">
              <div class="macro_top">
                <div class="macro_label_container">
                  <div class="macro_label">マクロを手動で挿入</div>
                  <button type="button" class="btn macro_instructions" data-toggle="modal" data-target="#code_modal">マクロの説明</button>
                </div>
                <div class="macro_buttons_container">
                  <button @click="insertMacro('%%CACHEBUSTER%%')" class="btn btn-secondary macro_button">キャッシュ無効化マクロ</button>
                  <button @click="insertMacro('%%CLICK_URL_ESC%%')" class="btn btn-secondary macro_button">特殊文字用クリックマクロ</button>
                  <button @click="insertMacro('%%CLICK_URL_UNESC%%')" class="btn btn-secondary macro_button">クリックマクロ</button>
                  <button @click="insertMacro('%%DEST_URL%%')" class="btn btn-secondary macro_button">リンク先URLマクロ</button>
                  <button @click="insertMacro('%%WIDTH%%')" class="btn btn-secondary macro_button">幅のマクロ</button>
                  <button @click="insertMacro('%%HEIGHT%%')" class="btn btn-secondary macro_button">高さのマクロ</button>
                  <button :disabled="imageBase64 === ''" @click="insertMacro('%%FILE:IMG%%')" class="btn btn-secondary macro_button">ファイルマクロ</button>
                </div>
              </div>
              <div class="macro_bottom">
                <textarea v-model="code" class="macro_txt" v-on:mousedown="onMouseDownTextArea = true" ></textarea>
              </div>
            </div>
            <img v-if="check_code" class="img_check" src="../assets/check.png">
            <div v-else class="required_character">必須</div>
          </div>
          <!-- マクロの説明モーダル -->
          <div class="modal fade" id="code_modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content macro_modal_content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><img src="../assets/btn_close.png" class="close_button_img"></span>
                  </button>
                  <div class="modal-title macro_modal_title">マクロの説明</div>
                </div>
                <div class="modal-body">
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">キャッシュ無効化マクロ</div>
                    <div class="macro_instruction_documents">キャッシュ無効化マクロ標準のキャッシュ無効化マクロ %%CACHEBUSTER%% をタグに挿入すると、このマクロが乱数に展開されます。この乱数によって、ブラウザ キャッシュが行われなくなり、カウントの差異を最小限にできます。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">特殊文字用クリックマクロ</div>
                    <div class="macro_instruction_documents">特殊文字用クリック マクロコード スニペットのリンク先 URL に特殊文字（例: &、?、%）が含まれる場合、クリックをトラッキングするには、特殊文字用クリック マクロを挿入します。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">クリックマクロ</div>
                    <div class="macro_instruction_documents">クリック マクロ標準のクリック マクロ %%CLICK_URL_UNESC%% をタグに挿入してクリックをトラッキングします。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">リンク先URLマクロ</div>
                    <div class="macro_instruction_documents">クリエイティブのリンク先URL（広告申込情報のリンク先URL、または広告申込情報内のクリエイティブで上書き設定されたURL）に展開されます。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">幅</div>
                    <div class="macro_instruction_documents">広告配信処理の際に、定義されているクリエイティブの幅がクリエイティブのカスタムコードに挿入されます。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">高さ</div>
                    <div class="macro_instruction_documents">広告配信処理の際に、定義されているクリエイティブの高さがクリエイティブのカスタムコードに挿入されます。</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /マクロの説明モーダル -->
          <div class="input_item_container">
            <div class="input_item_label">URL</div>
            <div class="vertical_line">|</div>
            <div class="form-group text_box_float">
              <input v-model.trim="destination_url" type="text" placeholder="URLを入力してください" class="form-control">
            </div>
          </div>
          <div class="input_item_container">
            <div class="input_item_label">サイズ</div>
            <div class="vertical_line">|</div>
            <div class="size_text">{{unit_size}}</div>
          </div>
        </div>
        <!-- Modal window -->
        <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLive" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="modal_head_text">preview</div>
              </div>
              <div class="modal-body">
              </div>
            </div>
          </div>
        </div>
        <!-- /Modal window -->
        <!-- Created Modal -->
        <div id="createdModal" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createdModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <div class="modal_header_label">メッセージ</div>
              </div>
              <div class="modal_body_text">
                <span>{{ resultMessage }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- /Created Modal -->
      </div>
      <div class="bottom_side_line"></div>
      <div class="submit">
        <button type="button" v-on:click="putCreative()" class="btn btn-success save_button" :disabled="!validated || clickGuard">更新</button>
        <router-link to="/creative/list">
          <button type="button" class="btn btn-default cancel_button">キャンセル</button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
var PulseLoader = require('vue-spinner/src/PulseLoader.vue');
export default {
  components: {
    'PulseLoader': PulseLoader
  },
  data(){
    return{
      cacheExpCont: '',
      cacheExplain: false,
      // check_advertiser_switch: '',
      check_agency: '',
      check_code: '',
      // advertiser: '',
      creative_name: '',
      code: '',
      label: '',
      unit_size: '',
      imageBase64: '',
      fileData: null,
      cacheExpCont: '',
      linkExpCont: '',
      clickExpCont: '',
      spCharaExpCont: '',
      destination_url: '',
      assetUrl: '',
      assetMacroName: '',
      clickGuard: false,
      resultMessage: '',
      lastMacroInsertedPosition: 0,
      onMouseDownTextArea: false
    }
  },
  created: function(){
    let self = this;
    this.$http.get('creatives/' + this.$route.params.creative_id).then((response) => {
      let creative = response.data.contents[0];
      // this.advertiser = creative.advertiser_name;
      this.creative_name = creative.creative_name;
      let unitHeight = creative.creative_size.height;
      let unitWidth = creative.creative_size.width;
      this.unit_size = unitWidth + 'x' + unitHeight;
      this.code = creative.html_snippet;
      this.assetUrl = creative.assets[0].asset_url;
      this.assetMacroName = creative.assets[0].macro_name;
      this.destination_url = creative.destination_url;
    }).catch((e)=>{
      console.log(e);
    });
  },
  methods: {
    getImageAsBase64: function(e){
      let self = this;
      let imgfile = e.target;
      if(!imgfile.files.length) return;
      let file = imgfile.files[0];
      let fr = new FileReader();
      fr.onload=function(evt){
        self.imageBase64 = evt.target.result.split(',')[1];
        self.fileData = evt.target.result;
      }
      fr.readAsDataURL(file);
    },
    putCreative: function(){
      let params = {
        "conditions": {
          "creative_name":this.creative_name,
          "html_snippet":this.code,
          "macro_name":"IMG",
          "destination_url":this.destination_url,
          "image_base64":this.imageBase64
        }
      }
      this.clickGuard = true;
      this.resultMessage = "クリエイティブを更新しました";
      this.$http.put('creatives/' + this.$route.params.creative_id, params).then((response) => {
        this.clickGuard = false;
        $('#createdModal').modal('toggle');
      }).catch((errors)=>{
        console.log(e);
        this.resultMessage = "リクエストに失敗しました";
      });
    },
    creativePageClicl: function(){
      this.cacheExpCont = false;
      this.linkExpCont = false;
      this.clickExpCont = false;
      this.spCharaExpCont = false;
    },
    cacheExplainBtn: function(){
      this.cacheExpCont = true;
    },
    linkExplainBtn: function(){
      this.linkExpCont = true;
    },
    clickExplainBtn: function(){
      this.clickExpCont = true;
    },
    spCharaExplainBtn: function(){
      this.spCharaExpCont = true;
    },
    insertMacro: function(macroName){
      let textarea = document.querySelector('textarea');
      let sentence = textarea.value;
      let len      = sentence.length;
      let startPosition = textarea.selectionStart;
      let endPosition = textarea.selectionEnd;
      if(!this.onMouseDownTextArea){
        startPosition = endPosition = this.lastMacroInsertedPosition;
      }
      let before   = sentence.substr(0, startPosition);
      let word     = macroName;
      let after    = sentence.substr(endPosition, len);
      let newSentence = before + word + after;
      this.code = newSentence;
      this.lastMacroInsertedPosition = ( before + word ).length;
      this.onMouseDownTextArea = false;
    },
  },
  computed: {
    // check_advertiser: function(){
    //   this.check_advertiser_switch = true;
    // },
    validated: function (){
      // this.check_advertiser_switch = this.advertiser !== '';
      this.check_agency = this.creative_name !== '';
      this.check_code = this.code.replace(/\s+/, "") !=='';
      // return  ( this.advertiser !== '' && this.creative_name !== '' && this.check_code && this.unit_size !== '' );
      return  ( this.creative_name !== '' && this.check_code && this.unit_size !== '' );
    }
  }
}
</script>

<style scoped>
.selected_img {
  max-width: 400px;
  max-height: 400px;
}
.box {
	float: left;
  display:inline;
}
.boxContainer {
	overflow: hidden;
}
div.body {
  margin-right: 30px;
  margin-top: 30px;
}
.form-control {
  font-size: 13px;
  width: 245px;
  height: 32px;
}
.submit {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 150px;
}
.modal_head_text {
  padding-right: 370px;
  font-size: 18px;
}
.display_none {
  display: none;
}
.img_input {
  margin-top: 5px;
}
.macro_modal_content {
  margin: 0px;
}
.size_text {
  padding: 4px;
  font-size: 1.2rem;
  color: #666;
}
.img_caution_text {
  margin-left: 270px;
  font-size: 0.9rem;
  color: #555;
  margin-top: -2px;
}
</style>
