<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > クリエイティブ
      </div>
      <div class="top_title_container">
        <div class="top_title">クリエイティブ</div>
        <router-link :to="createNewCreativeLink()">
          <button type="button" class="btn btn-success new_add_button">
            <img class="add_button_img" src="../assets/icon_add.png">新しいクリエイティブを追加
          </button>
        </router-link>
      </div>
      <div class="refine_search_container">
        <div class="input_fields">
          <div class="refine_by_conditions_container" v-if="!parentLineItemId">
            <div class="conditions_label">広告主</div>
            <div class="interval selection_field">
              <div class="form-group">
                <select v-model='advertiser' class="custom-select advertiser_select">
                  <option value="" disabled selected class="select_placeholder">広告主を選択</option>
                  <option></option>
                  <option v-for='item in advertisers'>{{item.advertiser_name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="refine_by_conditions_container">
            <div class="conditions_label">クリエイティブ名</div>
            <div class="interval selection_field">
              <div class="form-group">
                <input type="text" class="form-control creative_name_input" v-model='ad_name' placeholder="クリエイティブ名を入力">
                </input>
              </div>
            </div>
          </div>
          <div class="refine_by_conditions_container" v-if="!parentLineItemId">
            <div class="conditions_label">広告サイズ</div>
            <div class="interval selection_field">
              <div class="form-group">
                <select v-model='ad_size' class="custom-select size_select">
                  <option value="" disabled selected class="select_placeholder">サイズを選択</option>
                  <option></option>
                  <option v-for='item in advertisement_size'>{{item}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="button_tr">
          <div  class="refine_button_container">
           <button v-on:click="filterItems" type="button" class="btn btn-outline-success refine_button">絞り込み</button>
          </div>
        </div>
      </div>
      <div class="paging_margin" v-if="isReady === false"></div>
      <div class="paging_top" v-if="isReady"><!-- ページング -->
        <button v-on:click="page_top" class="paging_css">先頭</button>
        <button v-on:click="page_btn(paging_item)" v-for="paging_item in paging_num" type="button" v-bind:class="{paging_class:page_index===paging_item, paging_css:page_index!==paging_item}">{{paging_item}}</button>
        <button v-on:click="page_end" class="paging_css">最後</button>
      </div><!-- /ページング -->
      <div class="panel panel-default">
        <table class="table table_body">
          <tr class="panel-heding table_header">
            <td class="list_header_item list_item_check">
              <div class="form-check">
                <label class="form-check-label"></label>
              </div>
            </td>
            <td class="list_header_item list_item_name">
              <div class="list_title_label">クリエイティブ名</div>
            </td>
            <td class="list_header_item list_item_advertiser">
              <div class="list_title_label">広告主</div>
            </td>
            <td class="list_header_item list_item_size">
              <div class="list_title_label">サイズ</div>
            </td>
            <td class="list_header_item list_item_update">
              <div class="list_title_label">最終更新日</div>
            </td>
            <td class="list_header_item list_item_editing"></td>
          </tr>
          <tr v-for="item in selectedPageCreatives" v-if="isReady" id="list">
            <td class="list_body_item"><div class="form-check"><label class="form-check-label"></label></div></td>
            <td class="list_body_item">
              <router-link :to="'/creative/update/' + item.creative_id"><div class="list_creative_name">{{item.creative_name}}</div></router-link>
              <!-- 各クリエイティブの画像 -->
              <img class="list_creative_img" :src="(item.assets[0].macro_name && item.assets[0].macro_name.match(/IMG|PNG/)) ? item.assets[0].asset_url : noAssetImage">
              <div class="list_creative_id_name">ID:{{item.creative_id}}</div>
            </td>
            <td class="list_body_item"><div class="">{{item.advertiser_name}}</div></td>
            <td class="list_body_item"><div class="">{{item.creative_size.width}}x{{item.creative_size.height}}</div></td>
            <td class="list_body_item"><div class="">{{item.creative_last_updated_date.year}}/{{item.creative_last_updated_date.month}}/{{item.creative_last_updated_date.day}}<br>{{item.creative_last_updated_date.hour}}:{{item.creative_last_updated_date.minute}}</div></td>
            <td class="list_body_item editing_button_container creative_editing_container"><router-link :to="'/creative/update/' + item.creative_id"><button type="button" class="btn btn-success editing_button">編集</button></router-link></td>
          </tr>
        </table>
        <div v-if="isReady" class="list_error_text">{{errorText}}</div>
        <div :class="{'invisible': isReady}" class="pulse-loader"><!-- ローディングの際のアニメーション -->
          <pulse-loader></pulse-loader>
        </div><!-- /ローディングの際のアニメーション -->
        <div v-if="isReady && chunkedCreativeList.length === 0" class="not_found_text">
          クリエイティブが見つかりませんでした。
        </div>
        <div class="paging_bottom" v-if="isReady"><!-- ページング -->
          <button v-on:click="page_top" class="paging_css">先頭</button>
          <button v-on:click="page_btn(paging_item)" v-for="paging_item in paging_num" type="button" v-bind:class="{paging_class:page_index===paging_item, paging_css:page_index!==paging_item}">{{paging_item}}</button>
          <button v-on:click="page_end" class="paging_css">最後</button>
        </div><!-- /ページング -->
      </div>
    </div>
  </div>
</template>

<script>
  import { AD_UNIT_SIZES } from '../const';
  var PulseLoader = require('vue-spinner/src/PulseLoader.vue');
  export default{
    components: {
      'PulseLoader': PulseLoader
    },
    data(){
      return{
        page_index: 1,
        where: [],
        advertiser: '',
        page: 0,
        paging_item: '',
        isReady: false,
        advertisement_size: AD_UNIT_SIZES,
        advertisers: '',
        ad_name: '',
        ad_size: '',
        creatives: [],
        creativesMaster: [],
        noAssetImage: '',
        parentLineItemId: '',
        errorText: ''
      }
    },
    created: function(){
      let self = this;
      self.$http.get('advertisers').then((response) => {
        self.advertisers = response.data.contents;
      }).catch((e) => {
        console.log(e);
      });
      let params = {
        'conditions': {}
      };
      let whereClauses = [];
      self.parentLineItemId = parseInt(self.$route.query.lineitem_id);
      if (self.parentLineItemId) {
        whereClauses.push([
          {
            "item":"lineItemId",
            "operand":"=",
            "quotations":false,
            "value": self.parentLineItemId
          }
        ]);
        params.conditions['where'] = whereClauses;
        self.$http.get('licas', {params: params}).then((response) => {
          let licas = response.data.data;
          let conditions = {};
          let orGroup = [];
          licas.forEach((lica) => {
            if (lica.creative_id) {
              let clause = {
                "item": "id",
                "operand": "=",
                "quotations": true,
                "value": parseInt(lica.creative_id)
              };
              orGroup.push([clause]);
            }
          });
          if (orGroup.length != 0) {
            conditions['where'] = orGroup;
          } else {
            conditions['where'] = '';
            self.errorText =  ''; //'クリエイティブが見つかりませんでした。';
            self.isReady = true;
            return;
          }
          let params = {
            "conditions": conditions
          };
          self.$http.get('creatives', {params: params}).then((response) => {
            self.creatives =  response.data.contents;
            self.creativesMaster = [].concat(self.creatives);
            self.isReady = true;
          }).catch((e)=>{
            console.log(e);
          });
        }).catch((e)=>{
          console.log(e);
        });
      } else {
        self.$http.get('creatives').then((response) => {
          self.isReady = true;
          self.creatives = response.data.contents;
        }).catch((e) => {
          console.log(e);
        });
      }
    },
    methods:{
      page_end: function(){
        this.page_index = this.paging_num;
        this.paging_item = this.paging_num;
        this.$forceUpdate();
        this.page = this.paging_num - 1;
      },
      page_top: function(){
        this.page_index = 1;
        this.paging_item = 1;
        this.$forceUpdate();
        this.page = 0;
      },
      page_btn: function(paging_item){
        this.page_index=paging_item;
        this.$forceUpdate();
        this.page = paging_item - 1;
      },
      frontFilterItems() {
        let self = this;
        self.creatives = self.creativesMaster.filter((el)=>{
          return el.creative_name.indexOf(self.ad_name) !== -1;
        });
      },
      filterItems: function(){
        let self = this;
        if (self.parentLineItemId){
          self.frontFilterItems();
          return;
        }

        this.isReady = false;
        let conditions = {};
        let andGroup = [];
        if (this.advertiser) {
          let clause = {
            "item": "advertiserName",
            "operand": "LIKE",
            "quotations": true,
            "value": this.advertiser
          };
          andGroup.push(clause);
        }
        if (this.ad_name) {
          let clause = {
            "item": "name",
            "operand": "LIKE",
            "quotations": true,
            "value": this.ad_name
          };
          andGroup.push(clause);
        }
        if (this.ad_size) {
          let sizeArray = this.ad_size.split('x');
          let width = sizeArray[0];
          let height = sizeArray[1];
          let widthClause = {
            "item": "width",
            "operand": "=",
            "quotations": false,
            "value": width
          };
          let heightClause = {
            "item": "height",
            "operand": "=",
            "quotations": false,
            "value": height
          };
          andGroup.push(widthClause);
          andGroup.push(heightClause);
        }
        if (andGroup.length != 0) {
          conditions['where'] = [];
          conditions['where'].push(andGroup);
        }
        let params = {
          "conditions": conditions
        };
        this.$http.get('creatives', {params: params}).then((response) => {
          this.isReady = true;
          this.creatives =  response.data.contents;
          this.page_index = 1;
          this.page = 0;
        }).catch((e)=>{
          console.log(e);
        });
      },
      createNewCreativeLink() {
        let self = this;
        let parentId = parseInt(this.$route.query.lineitem_id);
        if(Number.isNaN(parentId)){ // 親ラインアイテムIDがなかった場合、オーダー作成画面に遷移。
          return { path: '/order/create' };
        } else {
          return { path: '/creative/create', query: {lineitem_id: parentId} };
        }
      }
    },
    computed: {
      chunkedCreativeList: function () {
        return this.creatives.chunk(20);
      },
      selectedPageCreatives: function() {
        return this.chunkedCreativeList[this.page];
      },
      paging_num: function() {
        return this.chunkedCreativeList.length;
      }
    }
  }
</script>


<style scoped>
.interval {
  margin: 10px;
}
.list_creative_name {
  color: #1CA16A;
  font-weight: bold;
  font-size: 1rem;
}
.list_creative_img {
  height: 75px;
  width: 90px;
}
.invisible {
  display: none;
}
.paging_top {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 5px;
}
.paging_bottom {
  text-align: center;
}
.paging_class {
  border: none;
  font-weight: bold;
  background-color: #ffffff;
  outline: none;
  margin: 2px;
}
.paging_css {
  border: solid 1px #1CA16A;
  background-color: #ffffff;
  color: #1CA16A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  outline: none;
  margin: 2px;
}
.paging_margin {
  margin: 100px;
}
.custom-select, .form-control {
  font-size: 1rem;
  height: 32px;
}
.advertiser_select {
  width: 224px;
}
.size_select {
  width: 210px;
}
.creative_name_input {
  width: 266px;
}
.list_creative_id_name {
  font-size: 0.7rem;
}
.list_error_text {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: #777;
}
.form-check {
  margin-bottom: 0;
}
.list_item_name {
  min-width: 300px;
}
.list_item_advertiser {
  min-width: 300px;
}
.list_item_size {
  min-width: 160px;
}
.list_item_update {
  min-width: 160px;
}
.list_item_editing {
  min-width: 170px;
}
.creative_editing_container {
  height: 155px;
  line-height: 100px;
}
</style>
