<template>
  <div class="screen" @click.capture="creativePageClicl">
    <div class="main_center">
      <div class="pankuzu">
         <router-link to="/">トップ</router-link> > <router-link to="/creative/list">クリエイティブ</router-link> > クリエイティブを作成
      </div>
      <div class="top_title">クリエイティブを作成する</div>
      <div class="boxContainer">
        <div class="body box">
          <div class="input_item_container">
            <div class="input_item_label">クリエイティブ名</div>
            <div class="vertical_line">|</div>
            <div class="form-group text_box_float">
              <input v-model.trim="creativeName" type="text"  placeholder="クリエイティブ名を入力してください" class="form-control">
            </div>
            <img v-if="checkAgency" class="img_check" src="../assets/check.png">
            <div v-else class="required_character">必須</div>
          </div>
          <div class="input_item_container">
            <div class="input_item_label">画像</div>
            <div class="vertical_line">|</div>
            <div class="form-group text_box_float">
              <form method="POST" action="/api/uploadImages" enctype="multipart/form-data">
                <div :class="{display_none: fileData==null}"><img class="selected_img" :src="fileData"></div>
                <input type="file" v-on:change="getImageAsBase64" class="img_input"></input>
              </form>
            </div>
            <img v-if="fileIsValid" class="img_check" src="../assets/check.png">
            <div v-else class="required_character">必須</div>
          </div>
          <div class="img_caution_text" >※画像は1MB以下まで添付可能です。</div>

            <!-- end -->
          <div class="input_item_container">
            <div class="input_item_label">コード</div>
            <div class="vertical_line">|</div>
            <div class="macro_container">
              <div class="macro_top">
                <div class="macro_label_container">
                  <div class="macro_label">マクロを手動で挿入</div>
                  <button type="button" class="btn macro_instructions" data-toggle="modal" data-target="#code_modal">マクロの説明</button>
                </div>
                <div class="macro_buttons_container">
                  <button @click="insertMacro('%%CACHEBUSTER%%')" class="btn btn-secondary macro_button">キャッシュ無効化マクロ</button>
                  <button @click="insertMacro('%%CLICK_URL_ESC%%')" class="btn btn-secondary macro_button">特殊文字用クリックマクロ</button>
                  <button @click="insertMacro('%%CLICK_URL_UNESC%%')" class="btn btn-secondary macro_button">クリックマクロ</button>
                  <button @click="insertMacro('%%DEST_URL%%')" class="btn btn-secondary macro_button">リンク先URLマクロ</button>
                  <button @click="insertMacro('%%WIDTH%%')" class="btn btn-secondary macro_button">幅のマクロ</button>
                  <button @click="insertMacro('%%HEIGHT%%')" class="btn btn-secondary macro_button">高さのマクロ</button>
                  <button :disabled="imageBase64 === ''" @click="insertMacro('%%FILE:IMG%%')" class="btn btn-secondary macro_button">ファイルマクロ</button>
                </div>
              </div>
              <div class="macro_bottom">
                <textarea v-model="code" class="macro_txt" v-on:mousedown="onMouseDownTextArea = true" ></textarea>
              </div>
            </div>
            <img v-if="checkCodeContent" class="img_check" src="../assets/check.png">
            <div v-else class="required_character">必須</div>
          </div>
          <!-- マクロの説明モーダル -->
          <div class="modal fade" id="code_modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content macro_modal_content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><img src="../assets/btn_close.png" class="close_button_img"></span>
                  </button>
                  <div class="modal-title macro_modal_title">マクロの説明</div>
                </div>
                <div class="modal-body">
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">キャッシュ無効化マクロ</div>
                    <div class="macro_instruction_documents">%%CACHEBUSTER%% をタグに挿入すると、このマクロが乱数に展開されます。この乱数によって、ブラウザ キャッシュが行われなくなり、カウントの差異を最小限にできます。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">特殊文字用クリックマクロ</div>
                    <div class="macro_instruction_documents">特殊文字用クリック マクロコード スニペットのリンク先 URL に特殊文字（例: &、?、%）が含まれる場合、クリックをトラッキングするには、特殊文字用クリック マクロを挿入します。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">クリックマクロ</div>
                    <div class="macro_instruction_documents">%%CLICK_URL_UNESC%% をタグに挿入してクリックをトラッキングします。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">リンク先URLマクロ</div>
                    <div class="macro_instruction_documents">クリエイティブのリンク先URL（広告申込情報のリンク先URL、または広告申込情報内のクリエイティブで上書き設定されたURL）に展開されます。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">幅</div>
                    <div class="macro_instruction_documents">広告配信処理の際に、定義されているクリエイティブの幅がクリエイティブのカスタムコードに挿入されます。</div>
                  </div>
                  <div class="macro_instruction_container">
                    <div class="macro_instruction_label">高さ</div>
                    <div class="macro_instruction_documents">広告配信処理の際に、定義されているクリエイティブの高さがクリエイティブのカスタムコードに挿入されます。</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /マクロの説明モーダル -->
          <div class="input_item_container">
            <div class="input_item_label">URL</div>
            <div class="vertical_line">|</div>
            <div class="form-group text_box_float">
              <input v-model.trim="destination_url" type="text" placeholder="URLを入力してください" class="form-control">
            </div>
            <img v-if="destinationUrlIsValid" class="img_check" src="../assets/check.png">
            <div v-else class="required_character">必須</div>
          </div>
          <div class="input_item_container">
            <div class="input_item_label">サイズ</div>
            <div class="vertical_line">|</div>
            <div class="form-group">
              <div v-if="lineItemSize" class="size_text">
                {{lineItemSize.width + ' x ' + lineItemSize.height}}
              </div>
              <div v-else>
                <select v-model="unitSize" class="custom-select">
                  <option value='' disabled selected class="select_placeholder">選択してください</option>
                  <option v-for= "item in unitSizes">{{item}}</option>
                </select>
              </div>
            </div>
            <img v-if="checkUnitSize" class="img_check" src="../assets/check.png">
            <div v-else class="required_character">必須</div>
          </div>
        </div>
      </div>
      <div class="bottom_side_line"></div>
      <div class="submit">
        <button  type="button" data-toggle="modal" data-target="#createdCreativeModal" v-on:click="createCreative" class="btn btn-success save_button" :disabled="!validated || clickGuard">保存</button>
        <router-link to="/creative/list">
          <button type="button" class="btn btn-default cancel_button">キャンセル</button>
        </router-link>
      </div>
    </div>
    <!-- Created Modal -->
    <div id="createdCreativeModal" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createdModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="modal_header_label">メッセージ</div>
          </div>
          <div class="modal_body_text">
            <span>{{ resultMessage }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- /Created Modal -->
  </div>
</template>

<script>
import { AD_UNIT_SIZES } from '../const';
var PulseLoader = require('vue-spinner/src/PulseLoader.vue');
export default {
  components: {
    'PulseLoader': PulseLoader
  },
  data () {
    return {
      destinationUrlIsValid: '',
      fileIsValid: false,
      checkCodeContent: false,
      cacheExpCont: '',
      cacheExplain: false,
      checkAdvertiserSwitch: '',
      checkAgency: '',
      checkUnitSize: '',
      advertiser: '',
      creativeName: '',
      code: '',
      label: '',
      custom: '',
      unitSize: '',
      selected: 'すべて',
      unitSizes: AD_UNIT_SIZES,
      cacheExpCont: '',
      linkExpCont: '',
      clickExpCont: '',
      spCharaExpCont: '',
      destination_url: '',
      imageBase64: '',
      fileData: null,
      clickGuard: false,
      lineItemSize: '',
      parentLineItem: {},
      grandParentOrder: {},
      resultMessage: '',
      lastMacroInsertedPosition: 0,
      onMouseDownTextArea: false
    }
  },
  created: function(){
    let self = this;
    let parentId = parseInt(self.$route.query.lineitem_id);
    if(Number.isNaN(parentId)){
      self.$router.push({ path: '/order/create' });
    }

    self.$http.get(`line-items/${parentId}`).then((res)=>{
      self.parentLineItem = res.data.contents[0];
      self.lineItemSize = self.parentLineItem.creative_placeholders[0].size;
    }).catch((e)=>{
      console.log(e);
    }).then(()=>{
      return self.$http.get(`orders/${self.parentLineItem.order_id}`)
    }).then((res)=>{
      self.grandParentOrder = res.data.contents[0];
      self.advertiser = self.grandParentOrder.advertiser_id;
    }).catch((e)=>{
      console.log(e);
    });

  },
  methods: {
    getImageAsBase64: function(e){
      let self = this;
      let imgfile = e.target;
      if(!imgfile.files.length) return;
      var file = imgfile.files[0];
      var fr = new FileReader();
      fr.onload = function(evt) {
        self.imageBase64 = evt.target.result.split(',')[1];
        self.fileData = evt.target.result;
      }
      fr.readAsDataURL(file);
    },
    creativePageClicl: function(){
      this.cacheExpCont = false;
      this.linkExpCont = false;
      this.clickExpCont = false;
      this.spCharaExpCont = false;
    },
    cacheExplainBtn: function(){
      this.cacheExpCont = true;
    },
    linkExplainBtn: function(){
      this.linkExpCont = true;
    },
    clickExplainBtn: function(){
      this.clickExpCont = true;
    },
    spCharaExplainBtn: function(){
      this.spCharaExpCont = true;
    },
    insertMacro: function(macroName){
      let textarea = document.querySelector('textarea');
      let sentence = textarea.value;
      let len      = sentence.length;
      let startPosition = textarea.selectionStart;
      let endPosition = textarea.selectionEnd;
      if(!this.onMouseDownTextArea){
        startPosition = endPosition = this.lastMacroInsertedPosition;
      }
      let before   = sentence.substr(0, startPosition);
      let word     = macroName;
      let after    = sentence.substr(endPosition, len);
      let newSentence = before + word + after;
      this.code = newSentence;
      this.lastMacroInsertedPosition = ( before + word ).length;
      this.onMouseDownTextArea = false;
    },
    createCreative: function (){
      let self = this;
      let widthSize = 0;
      let heightSize = 0;
      let test = [];
      if (this.lineItemSize) {
        widthSize = this.lineItemSize.width;
        heightSize = this.lineItemSize.height;
      } else {
        widthSize = this.unitSize.split('x')[0];
        heightSize = this.unitSize.split('x')[1];
      }
      let creativesParams = {
        "conditions":{
          "creative_name":this.creativeName,
          "html_snippet":this.code,
          "macro_name": this.imageBase64 ? 'IMG' : '',
          "destination_url":this.destination_url,
          "advertiser_id":this.advertiser,
          "size":{
            "width":widthSize,
            "height":heightSize
          },
          "image_base64":this.imageBase64
        }
      };
      this.clickGuard = true;
      this.$http.post('creatives', creativesParams).then((creativesRes) => {
        let licasParams = {
          "conditions": {
            'creative_id': creativesRes.data.contents[0].creative_id,
            'line_item_id': parseInt(this.$route.query.lineitem_id)
          }
        }
        console.log(licasParams,'licasParams');
        this.resultMessage = "クリエイティブが作成されました";
        this.$http.post('licas', licasParams).then((creativesRes) => {
          console.log(creativesRes, 'creativesRes');
          $('#createdCreativeModal').modal('toggle');
          let lineitemId = this.$route.query.lineitem_id;
          $('#createdCreativeModal').on('hidden.bs.modal', function (e) {
            self.$router.push({ path: '/creative/list', query: { lineitem_id: lineitemId }});
          })
        }).catch((e)=>{
          console.log(e);
          this.clickGuard = false;
          this.resultMessage = "リクエストに失敗しました";
        });
      }).catch((e)=>{
        console.log(e);
        this.clickGuard = false;
        this.resultMessage = "リクエストに失敗しました";
      });
    }
  },
  computed: {
    validated: function () {
      this.destinationUrlIsValid = this.destination_url !== '';
      this.fileIsValid = this.fileData !== null;
      this.checkCodeContent = this.code.replace(/\s+/, "") !== '';
      this.checkAgency = this.creativeName !== '';
      this.checkUnitSize = this.unitSize !== '' || this.lineItemSize;
      return  ( this.creativeName !== '' && this.checkCodeContent && this.unitSize !== '' || this.lineItemSize && this.fileIsValid && this.destinationUrlIsValid);
    }
  }
}
</script>


<style scoped>
.selected_img {
  max-width:400px;
  max-height: 400px;
}
.box {
	float: left;
  display:inline;
}
.boxContainer {
	overflow: hidden;
}
div.body {
  margin-right: 30px;
  margin-top: 30px;
}
.form-control {
  font-size: 13px;
  width: 245px;
  height: 32px;
}
.custom-select {
  font-size: 13px;
  width: 224px;
  height: 32px;
}
.submit {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 150px;
}
.display_none {
  display: none;
}
.img_input {
  margin-top: 5px;
}
.macro_modal_content {
  margin: 0px;
}
.size_text {
  padding: 4px;
  font-size: 1.2rem;
  color: #666;
}
.img_caution_text {
  margin-left: 270px;
  font-size: 0.9rem;
  color: #555;
  margin-top: -2px;
}
</style>
