<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
         <router-link to="/">トップ</router-link> > <router-link to="/lineitem/list">広告申込情報</router-link> > 広告申込情報を更新
      </div>
      <div class="top_title">広告申込情報を更新する</div>
      <!--広告申込情報入力欄  -->
      <div class="boxContainer">
        <div class="input_item_container">
          <div class="input_item_label">広告申込情報名</div>
          <div class="vertical_line">|</div>
          <div class="form-group name_input_field">
            <input class="form-control font_size_1rem" v-model.trim="lineItemName" type="text" placeholder="広告申込情報名を入力してください">
          </div>
          <img v-if="lineItemNameIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">広告枠のサイズ</div>
          <div class="vertical_line">|</div>
          <div class="form-group inventory_input_field">
            <select v-model="unitSizeValue" class="form-control font_size_1rem" disabled>
              <option v-for="unitSize in unitSizes">{{unitSize}}</option>
            </select>
          </div>
          <!-- <img v-if="unitSizeIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div> -->
        </div>
        <!-- <div class="input_item_container">
          <div class="input_item_label">コメント</div>
          <div class="vertical_line">｜</div>
          <div class="form-group comment_input_field">
            <textarea v-model.trim="lineItemComment" class="form-control font_size_1rem"></textarea>
          </div>
        </div> -->
        <!--設定入力欄-->
        <div class="input_item_container">
          <div class="input_item_label">開始時刻</div>
          <div class="vertical_line">|</div>
          <div class="form-group time_field_container">
            <input v-model="startDate" type="date" readonly class="form-control date_input">
            <input v-model="startTime" type="time" readonly class="form-control time_input">
          </div>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">終了時刻</div>
          <div class="vertical_line">|</div>
          <div class="form-group time_field_container">
            <input v-model="endDate" type="date" class="form-control date_input">
            <input v-model="endTime" type="time" class="form-control time_input">
          </div>
          <div>
            <img v-if="endDateIsValid" src="../assets/check.png" class="img_check">
            <div v-else class="required_character">必須</div>
          </div>
          <div class="end_time_required_outer_area">
            <div v-if="!durationIsValid" class="end_time_required">終了日時は開始日時より後にしてください。</div>
          </div>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">数量</div>
          <div class="vertical_line">|</div>
          <div class="form-group quantity_input_field">
            <input v-model="amount" type="number" min="1" class="form-control font_size_1rem">
          </div>
          <div class="form-group impression_field">
            <select v-model="amountType" class="form-control font_size_1rem">
              <option value="IMPRESSIONS">インプレッション</option>
              <option value="CLICKS">クリック数</option>
            </select>
          </div>
          <div v-if="amount === ''" class="required_character">必須</div>
          <div v-else-if="+amount < 1 || !Number.isInteger(+amount)" class="text_required">数量には1以上の整数を入力してください。</div>
          <div v-else-if="+amount > 2147483647 || !Number.isInteger(+amount)" class="text_required">数量には2,147,483,647以下の整数を入力してください。</div>
          <img v-else src="../assets/check.png" class="img_check">
        </div>
        <div class="input_item_container">
          <div class="input_item_label">レート</div>
          <div class="vertical_line">|</div>
          <div class="form-group quantity_input_field">
            <input v-model="microAmount" type="number" min="1" class="form-control font_size_1rem">
          </div>
          <div class="form-group impression_field">
            <select class="form-control font_size_1rem" disabled>
              <option v-model="costType" v-if="amountType == 'IMPRESSIONS'">CPM</option>
              <option v-else >CPC</option>
            </select>
          </div>
          <div v-if="microAmount === ''" class="required_character">必須</div>
          <div v-else-if="+microAmount > 10000000 " class="text_required">レートには10,000,000以下の整数を入力してください。</div>
          <img v-else src="../assets/check.png" class="img_check">
        </div>
        <!--在庫部分-->
        <div class="input_item_container">
          <div class="input_item_label">広告ユニット</div>
          <div class="vertical_line">|</div>
          <div class="form-group width_36per">
            <div class="form-control scroll_box checkbox_container">
              <div v-for="adUnit in sizeFilteredAdUnits" name="adunit_form">
                <input v-model="adUnitId" name="adunit_check" type="checkbox" :value="adUnit.id" class="font_size_1rem">{{adUnit.name}}
              </div>
              <div v-if="isReady && sizeFilteredAdUnits.length === 0" class="">
                サイズに適合する広告ユニットが存在しません。</br>
                新規の広告ユニットを追加してください。
              </div>
            </div>
          </div>
          <div class="new_adunit_button">
            <img v-if="adUnitsIsValid" src="../assets/check.png" class="check_img_new_adunit_button">
            <div v-else class="required_character">必須</div>
            <button @click="createAdUnit" class="btn btn-outline-success"><img src="../assets/icon_plus.png" class="img_icon_plus">新規の広告ユニットを追加する</button>
          </div>
        </div>
        <!--オーディエンス  -->
        <div class="input_item_container">
          <div class="input_item_label">オーディエンス</div>
          <div class="vertical_line">|</div>
          <div class="form-group width_36per">
            <div class="form-control scroll_box checkbox_container">
              <div v-for="audience in audiences">
                <input v-model="audienceIds" type="checkbox" :value="audience.hash_id" class="font_size_1rem">{{audience.name}}
              </div>
            </div>
          </div>
          <img v-if="keyValueIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
      </div>
      <!-- 新規広告ユニット作成モーダル -->
      <div id="modalCreateAdUnit" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
              <div class="font_size_1rem margin_right_170">新規広告ユニット作成</div>
            </div>
            <div class="ad_unit_name_container">
              <div class="ad_unit_input_label">広告ユニット名</div>
              <div class="ad_unit_input_container">
                <input v-model.trim="newAdUnitName" type="text" class="form-control new_adunit_input" placeholder="広告ユニット名を入力してください">
                <img v-if="newAdUnitIsValid" src="../assets/check.png" class="img_check">
                <div v-else class="required_character">必須</div>
              </div>
            </div>
            <div class="ad_unit_size_container">
              <div class="ad_unit_select_label">広告ユニットサイズ</div>
              <div class="ad_unit_input_container">
                <div class="form-group new_adunit_input">
                  <select v-model="adUnitSizeValue" class="form-control font_size_1rem">
                    <option value="" disabled selected class="select_placeholder">サイズを選択してください</option>
                    <option v-for="adUnitSize in unitSizes">{{adUnitSize}}</option>
                  </select>
                </div>
                <img v-if="newAdUnitSizeIsValid" src="../assets/check.png" class="img_check">
                <div v-else class="required_character">必須</div>
              </div>
            </div>
            <div class="modal_inner_button_field">
              <button @click="createNewAdUnit" type="button" class="btn btn-success save_button" :disabled="!newAdUnitIsValid || !newAdUnitSizeIsValid">新規登録</button>
              <button type="button" class="btn btn-secondary ad_cancel_button cancel_button" data-dismiss="modal">キャンセル</button>
            </div>
            <div class="text_required">{{errorMessageCreateAdUnit}}</div>
          </div>
        </div>
      </div>
      <!-- モーダル -->
      <div id="createdModal" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <div class="modal_header_label">メッセージ</div>
            </div>
            <div class="modal_body_text">
              <span>{{resultMessage}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_side_line"></div>
      <div class="button_wrap">
        <button type="button" class="btn btn-success save_button" @click="createLineItem" :disabled="!validated || clickGuard">更新</button>
        <router-link to='/lineitem/list'><button type="button" class="btn btn-secondary cancel_button">キャンセル</button></router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import { AD_UNIT_SIZES } from '../const';
  export default {
    data() {
      return{
        adUnitId: [],
        errorMessageCreateAdUnit: '',
        newAdUnitName: '',
        newAdUnitIsValid: '',
        adUnitSizeValue: '',
        newAdUnitSizeIsValid: '',
        amountType: '',
        audiences: '',
        keyValueIsValid: false,
        audienceIds: [],
        adUnitsIsValid: false,
        adUnits: [],
        amount: '',
        amountIsValid: false,
        startTime: '',
        endTime: '',
        endDateIsValid: '',
        startDateIsValid: '',
        startDate: '',
        endDate: '',
        lineItemNameIsValid: false,
        unitSizeIsValid: false,
        resultMessage: '',
        unitSize: '',
        unitSizeValue: '',
        clickGuard: false,
        lineItemName: '',
        unitSizes: AD_UNIT_SIZES,
        lineItems: '',
        microAmount: '',
        costType: '',
        lineItemComment: '',
        notSpecifiedEnd: true,
        manualEnd: true,
        radiobuttonEnd: 'manualEnd',
        startTimeAll: '',
        endTimeAll: '',
        microAmountIsValid: false,
        isReady: false
      }
    },
    created: function(){
      let self = this;
      let params = {
        "conditions":{
          "where":[
            [
              {
                "item":"status",
                "operand":"=",
                "quotations":true,
                "value":"ACTIVE"
              }
            ]
          ]
        }
      }
      this.$http.all([
        self.$http.get(`line-items/${this.$route.params.id}`),
        self.$http.get('ad-units', {params: params}),
        self.$http.get('audiences')
      ]).then(([lineItemResponse, adUnitResponse, audienceResponse]) => {
        self.lineItems = lineItemResponse.data.contents[0];
        self.lineItemName = self.lineItems.name;
        self.unitSizeValue = self.lineItems.creative_placeholders[0].size["width"] + 'x' + self.lineItems.creative_placeholders[0].size["height"];
        self.lineItemComment = self.lineItems.notes;
        self.startDate = self.lineItems.start_date_time["year"] + '-' + self.lineItems.start_date_time["month"] + '-' + self.lineItems.start_date_time["day"];
        self.endDate = self.lineItems.end_date_time["year"] + '-' + self.lineItems.end_date_time["month"] + '-' + self.lineItems.end_date_time["day"];
        self.startTimeAll = self.lineItems.start_date_time["hour"] + ':' + self.lineItems.start_date_time["minute"] + ':' + self.lineItems.start_date_time["second"];
        self.startTime = self.lineItems.start_date_time["hour"] + ':' + self.lineItems.start_date_time["minute"];
        self.endTimeAll = self.lineItems.end_date_time["hour"] + ':' + self.lineItems.end_date_time["minute"] + ':' + self.lineItems.end_date_time["second"];
        self.endTime = self.lineItems.end_date_time["hour"] + ':' + self.lineItems.end_date_time["minute"];
        self.amount = self.lineItems.primary_goal["units"];
        self.amountType = self.lineItems.primary_goal["unit_type"];
        self.microAmount = Number(self.lineItems.cost_per_unit["micro_amount"]) / 1000000; // (注意) 1,000,000で割るのは、表示数とDFPの内部的な値のギャップを補完するため。
        self.costType = self.lineItems.cost_type;
        self.adUnits = adUnitResponse.data.contents.data.filter(function(item){
          if(item.has_children !== true){
              return true;
          }
        });
        self.audiences = audienceResponse.data.audiences;
        self.adUnitId = self.extractAdUnitHash(self.lineItems.targeting.inventory_targeting.targeted_ad_units);
        self.audienceIds = self.extractAudienceHash(self.lineItems.targeting.custom_targeting);
        self.isReady = true;
      }).catch((e) => {
        // console.log(e);
      });
    },
    methods: {
      extractAudienceHash: function(customTargeting){
        let hashIds = [];
        customTargeting.children.forEach((child1)=>{
          child1.children.forEach((child2)=>{
            child2.audiences.forEach((audience)=>{
              hashIds.push(audience.hash_id);
            });
          });
        });
        return hashIds;
      },
      extractAdUnitHash: function(targetedAdUnit){
        let adUnitId = [];
        targetedAdUnit.forEach((unitId)=>{
          adUnitId.push(unitId.ad_unit_id);
        });
        return adUnitId;
      },
      createNewAdUnit: function(){
        let self = this;
        let adUnitSizes = [];
        for (let i = 0; i < 1; i++) {
          adUnitSizes[i] = {
            "size": {
              "width": this.adUnitSizeValue.split("x")[0],
              "height": this.adUnitSizeValue.split("x")[1],
              "is_aspect_ratio": false
            }
          }
        }
        let params = {
          "conditions":{
            "name": this.newAdUnitName,
            "ad_unit_sizes": adUnitSizes
          }
        };
        this.$http.post('ad-units', params).then((res) => {
          $('#modalCreateAdUnit').modal('hide');
          self.adUnits.push(res.data.data[0]);
          self.adUnitId.push(res.data.data[0].id);
          self.resultMessage = '新規広告ユニットを作成しました';
          $('#createdModal').modal('toggle');
        }).catch((err)=>{
          // console.log(err);
          this.errorMessageCreateAdUnit = 'この広告ユニット名は既に使用されています。他の広告ユニット名を入力してください。'
        });
      },
      createAdUnit: function() {
        $('#modalCreateAdUnit').modal('toggle');
      },
      createLineItem: function() {
        let self = this;
        let startDateTime = '';
        let endDateTime = '';
        startDateTime = this.startDate + '\t' + this.startTimeAll;
        endDateTime = this.endDate + '\t' + this.endTime + ':59';
        let adUnitIds = '';
        // TODO: LineitemAPI conect
        let params = {
          // TODO: サーバーになげるparams修正
          // line-itemsのcreateに投げるparamsの値は仮の値
          "conditions": {
            "name": this.lineItemName,
            "order_id": parseInt(this.lineItems.order_id),
            "id": this.lineItems.id,
            "ad_unit_ids": this.adUnitId,
            "line_item_type": "STANDARD",
            "creative_placeholders": [
              {
                "width": parseInt(this.unitSizeValue.split("x")[0]),
                "height": parseInt(this.unitSizeValue.split("x")[1]),
                "is_aspect_ratio":false
              }
            ],
            "start_date_time": startDateTime,
            "end_date_time": endDateTime,
            "notes": this.lineItemComment,
            "currency_code": this.lineItems.cost_per_unit["currency_code"],
            "micro_amount": Number(this.microAmount),
            "units": this.amount,
            "unit_type": this.amountType,
            "goal_type": this.lineItems.primary_goal["goal_type"],
            "cost_type": this.costType,
            "targeting": {
              "custom_targeting":{
                "logical_operator":"OR",
                "children":[
                  {
                    "logical_operator":"AND",
                    "children":[
                      {
                        "hash_ids":
                          this.audienceIds,
                        "operator":"IS"
                      }
                    ]
                  },
                ]
              }
            }
          }
        };
        this.clickGuard = true;
        // TODO: 保存ボタンが押されるとモーダルが表示し、サーバーからのメッセージが表示される
        // TODO: ラインアイテム作成APIが出来次第変更
        this.$http.put(`line-items/${this.$route.params.id}/${this.lineItems.order_id}`, params).then((response) => {
          this.resultMessage = "広告申込情報を更新しました";
          self.clickGuard = false;
          $('#createdModal').modal('toggle');
          $('#createdModal').on('hidden.bs.modal', function (e) {
            self.$router.push('/lineitem/update/' + response.data.data[0].id);
          });
        }).catch((err)=>{
          console.log(err);
          self.clickGuard = false;
          $('#createdModal').modal('toggle');
          // TODO: サーバーからのエラーメッセージを表示
          this.resultMessage = "リクエストに失敗しました";
        });
      },
    },
    computed: {
      validated: function () {
        this.newAdUnitIsValid = this.newAdUnitName !=='';
        this.newAdUnitSizeIsValid = this.adUnitSizeValue !=='';
        this.keyValueIsValid = this.audienceIds.length !== 0;
        this.adUnitsIsValid = this.adUnitId.length !== 0;
        this.amountIsValid = this.amount !== '' && this.amount > 0 && this.amount < 2147483647 ;
        this.startDateIsValid = this.startDate !== '' && this.startTime !== '';
        this.endDateIsValid = this.endDate !== '' && this.endTime !== '' && this.durationIsValid;
        this.lineItemNameIsValid = this.lineItemName !== '';
        this.unitSizeIsValid = this.unitSizeValue.length !== 0;
        this.microAmountIsValid = this.microAmount !=='' && this.microAmount < 10000000;
        return (this.unitSizeIsValid && this.lineItemNameIsValid && this.startDateIsValid && this.endDateIsValid && this.amountIsValid && this.durationIsValid && this.adUnitsIsValid && this.microAmountIsValid && this.keyValueIsValid);
      },
      durationIsValid: function() {
        if(this.startDate === '' || this.endDate === '' || this.startTime === '' || this.endTime === '' ){
          return true;
        }
        if(this.startDate === this.endDate && this.startTime >= this.endTime){
          return false;
        }
        if(this.startDate > this.endDate){
          return false;
        }
        return true;
      },
      sizeFilteredAdUnits: function() {
        // 備考： ad_unit_sizesの0番目のサイズのみ評価してフィルタリングしている。
        return this.adUnits.filter((adUnit) => {
          if (adUnit.ad_unit_sizes && adUnit.ad_unit_sizes[0] ) {
            let size = adUnit.ad_unit_sizes[0].size;
            let sizeStr = size.width + 'x' + size.height;
            if (this.unitSizeValue === sizeStr) {
              return true;
            }
          }
        });
      }
    }
  }
</script>

<style scoped>
.text_required {
  color: #B22222;
  font-size: 13px;
  font-weight: bold;
  margin: 8px 11px 8px 8px;
}
.end_time_required{
  color: #B22222;
  font-size: 13px;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
  width: 100%;
}
.scroll_box{
  overflow:auto;
  height:100px;
  border:1px black solid;
  margin:0px;
}
.boxContainer {
	overflow: hidden;
  margin: 30px 30px 0 0;
}
.btn-outline-success {
  color: #1CA16A;
  font-size: 1rem;
  border: none;
  height: 35px;
  margin: 35px 0px 0px;
  padding-left: 0px;
  background-color: #FFFFFF;
}
.name_input_field {
  width: 30%;
  height: 32px;
}
.inventory_input_field {
  width: 20%;
  height: 32px;
}
.comment_input_field {
  width: 40%;
  height: 32px;
}
.time_field_container {
  height: 32px;
  display: flex;
}
.date_input {
  margin-right: 3px;
  font-size: 1rem;
  width: 224px;
}
.time_input {
  width: 140px;
  font-size: 1rem;
}
.quantity_input_field {
  width: 10%;
  height: 32px;
  margin-right: 3px;
}
.impression_field {
  width: 20%;
  height: 32px;
}
.modal_inner_button_field {
  text-align: center;
  margin: 0 0 20px;
}
.check_img_new_adunit_button {
  width: 17px;
  margin: 8px 11px 12px 8px;
  height: 15px;
}
.img_icon_plus {
  margin: 6px 2px 8px 8px;
  height: 15px;
}
.new_adunit_input {
  height: 32px;
  width: 280px;
}
.new_adunit_button {
  display: flex;
  flex-direction: column;
}
.checkbox_container {
  border: 1px solid rgba(0,0,0,0.15);
}
.font_size_1rem {
  font-size: 1rem;
}
.width_36per {
  width: 36%;
}
.margin_right_170 {
  margin-right: 170px;
}
.ad_cancel_button {
  margin: 0 10px;
  height: 40px;
}
.ad_button {
  background-color: #1CA16A;
  font-size: 1rem;
  color: #FFFFFF;
}
.end_time_required_outer_area {
  margin-left: 240px;
}
.button_wrap {
  margin: 50px 0;
  text-align: center;
}
</style>
