<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > 広告申込情報
      </div>
      <div class="top_title_container">
        <div class="top_title">広告申込情報</div>
        <router-link :to="createNewLineItemLink()">
          <button type="button" class="btn btn-success new_add_button">
            <img class="add_button_img" src="../assets/icon_add.png">新しい広告申込情報を追加
          </button>
        </router-link>
      </div>
      <div class="refine_search_container">
        <div class="input_fields">
          <div class="inputs_container">
            <div class="refine_by_conditions_container">
              <div class="conditions_label">広告申込情報名</div>
              <div class="interval">
                <div class="form-group">
                  <input type="text" class="form-control" v-model='lineItemName' placeholder="広告申込情報名を入力"></imput>
                </div>
              </div>
            </div>
<!-- 現在広告枠のサイズ・在庫名は使用していないため、コメントアウトした。
            <div class="dropdown_tr width_32per">
              <div class="interval item_name">広告枠のサイズ</div>
              <div class="interval selection_field">
                <div class="form-group">
                  <select v-model='adUnitSize' class="custom-select width_168">
                    <option></option>
                    <option v-for='item in ad_unit_sizes'>{{item}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="dropdown_tr width_35per">
              <div class="item_name margin_10">在庫名</div>
              <div class="interval selection_field">
                <div class="form-group">
                  <select v-model='adUnitId' class="custom-select width_252">
                    <option></option>
                    <option v-for='item in ad_units' :value="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
-->
            <div class="refine_by_conditions_container">
              <div class="conditions_label">開始日</div>
              <div class="interval">
                <div class="form-group width_100per display_flex">
                  <div class="display_flex">
                    <input v-model="startDate" type="date" class="form-control width_182">
                  </div>
                </div>
              </div>
            </div>
            <div class="refine_by_conditions_container">
              <div class="conditions_label">終了日</div>
              <div class="interval">
                <div class="form-group width_100per display_flex">
                  <div class="display_flex">
                    <input v-model="endDate" type="date" class="form-control width_182">
                  </div>
                </div>
              </div>
            </div>
            <div class="refine_by_conditions_container">
              <div class="conditions_label">ステータス</div>
              <div class="interval">
                <div class="form-group display_flex width_100per">
                  <div class="form-group">
                    <select v-model="statusName" class="custom-select">
                      <option class="display_none" selected value="">ステータスを選択</option>
                      <option></option>
                      <option value="COMPLETED">完了</option>
                      <option value="DELIVERING">配信中</option>
                      <option value="DRAFT">下書き</option>
                      <option value="PAUSED">一時停止</option>
                      <option value="INACTIVE">無効</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="button_tr">
          <div  class="refine_button_container">
            <button v-on:click="filter_btn" type="button" class="btn btn-outline-success refine_button">絞り込み</button>
          </div>
        </div>
      </div>
      <div class="paging_margin" v-if="isReady === false"></div>
      <div class="paging_top" v-if="isReady"><!-- ページング -->
        <button v-on:click="page_top" class="paging_css">先頭</button>
        <button v-on:click="page_btn(paging_item)" v-for="paging_item in paging_num" type="button" v-bind:class="{paging_class:page_index===paging_item, paging_css:page_index!==paging_item}">{{paging_item}}</button>
        <button v-on:click="page_end" class="paging_css">最後</button>
      </div><!-- /ページング -->
      <div class="panel panel-default">
        <table class="table table_body">
          <tr class="panel-heding table_header">
            <td class="list_header_item list_item_check">
              <div class="form-check"><label class="form-check-label"></label></div>
            </td>
            <td class="list_header_item list_item_name">
              <div class="list_title_label">広告申込情報名</div>
            </td>
            <td class="list_header_item list_item_size">
              <div class="list_title_label">サイズ</div>
            </td>
            <td class="list_header_item list_item_start_time">
              <div class="list_title_label">開始時間</div>
            </td>
            <td class="list_header_item list_item_end_time">
              <div class="list_title_label">終了時間</div>
            </td>
            <td class="list_header_item list_item_stock">
              <div class="list_title_label">広告ユニット</div>
            </td>
            <td class="list_header_item list_item_status">
              <div class="list_title_label">ステータス</div>
            </td>
            <td class="list_header_item list_item_editing"></td>
          </tr>
          <tr v-for="item in lineItemList[page]" v-if="isReady" id="list">
            <td class="list_body_item"><div class="form-check"><label class="form-check-label"></label></div></td>
            <td class="list_body_item"><!-- 名前 -->
              <router-link :to="{ path: '/creative/list' , query:{ lineitem_id: item.id } }">
                <div class="list_creative_name">{{item.name}}</div>
              </router-link>
              <div class="list_id_name">ID:{{item.id}}</div>
            </td>
            <td class="list_body_item"><!-- 広告枠のサイズ -->
              <div class="list_item_text_inner">{{item.creative_placeholders[0].size.width + 'x' + item.creative_placeholders[0].size.height}}</div>
            </td>
            <td class="list_body_item"><!-- 開始時間 -->
              <div v-if="item.start_date_time">{{item.start_date_time.year + '/' + item.start_date_time.month + '/' + item.start_date_time.day}}</div>
              <div v-if="item.start_date_time">{{item.start_date_time.hour + ':' + item.start_date_time.minute}}</div>
            </td>
            <td class="list_body_item"><!-- 終了時間 -->
              <div v-if="item.end_date_time">{{item.end_date_time.year + '/' + item.end_date_time.month + '/' + item.end_date_time.day}}</div>
              <div v-if="item.end_date_time">{{item.end_date_time.hour + ':' + item.end_date_time.minute}}</div>
              <div v-else>登録されていません</div>
            </td>
            <td class="list_body_item"><!-- 在庫 -->
              <div>{{getAdUnitName(item.targeting.inventory_targeting.targeted_ad_units[0].ad_unit_id)}}</div>
            </td>
            <td class="list_body_item"><!-- ステータス -->
              <div class="list_item_text_inner">{{getstatusName(item.status)}}</div>
            </td>
            <td class="list_body_item editing_button_container">
              <router-link :to="'/lineitem/update/' + item.id">
                <button type="button" class="btn btn-success editing_button">編集</button>
              </router-link>
            </td>
          </tr>
        </table>
        <div :class="{'invisible': isReady}" class="pulse-loader"><!-- ローディングの際のアニメーション -->
          <pulse-loader></pulse-loader>
        </div><!-- /ローディングの際のアニメーション -->
        <div v-if="isReady && lineItemList.length === 0" class="not_found_text">
          広告申込情報が見つかりませんでした。
        </div>
        <div class="paging_bottom" v-if="isReady"><!-- ページング -->
          <button v-on:click="page_top" class="paging_css">先頭</button>
          <button v-on:click="page_btn(paging_item)" v-for="paging_item in paging_num" type="button" v-bind:class="{paging_class:page_index===paging_item, paging_css:page_index!==paging_item}">{{paging_item}}</button>
          <button v-on:click="page_end" class="paging_css">最後</button>
        </div><!-- /ページング -->
      </div>
    </div>
  </div>
</template>


<script>
import { AD_UNIT_SIZES } from '../const';
var PulseLoader = require('vue-spinner/src/PulseLoader.vue');
export default{
  components:{
    'PulseLoader': PulseLoader
  },
  data(){
    return{
      page_index:1,
      where:[],
      advertiserId:'',
      paging_num:'',
      page:0,
      paging_item:'',
      isReady: false,
      advertisers:'',
      orderName:'',
      lineItemList:[],
      users: '',
      userName: '',
      userId: '',
      archived: '',
      line_items: '',
      lineItemName: '',
      audiences: '',
      audienceId: '',
      ad_unit_sizes: AD_UNIT_SIZES,
      ad_units: '',
      adUnitId: '',
      adUnitSize: '',
      startDate: '',
      endDate: '',
      statusName: '',
      parentOrderId: ''
    }
  },
  created: function() {
    let self = this;
    let params = {
      'conditions': {}
    };
    let whereClauses = [];
    self.parentOrderId = parseInt(this.$route.query.order_id);
    if (self.parentOrderId) {
        whereClauses.push([
          {
            "item":"orderId",
            "operand":"=",
            "quotations":false,
            "value": self.parentOrderId
          }
        ]);
    }
    if (whereClauses.length > 0){
      params.conditions['where'] = whereClauses;
    }
    this.$http.all([
      self.$http.get('line-items', {params: params}),
      self.$http.get('audiences'),
      self.$http.get('ad-units')
    ]).then(([lineItemResponse, audienceResponse, adUnitResponse]) => {
      self.isReady = true;
      self.line_items = lineItemResponse.data.contents;
      self.audiences = audienceResponse.data.audiences;
      self.ad_units = adUnitResponse.data.contents.data;
      self.line_items = self.line_items.filter((el)=>{
        return (el.is_archived === false);
      });
      self.lineItemList = self.line_items.chunk(20);
      self.paging_num = self.lineItemList.length;
    }).catch((e)=>{
      console.log(e);
    });
  },
  methods:{
    getAdUnitName: function (ad_unit_id) {
      let self = this;
      let name = '';
      self.ad_units.forEach((el)=>{
        if (el.id === ad_unit_id) name = el.name;
      });
      return name;
    },
    getstatusName: function (status) {
      let name = '';
      let value = status;
      if (value === 'DELIVERY_EXTENDED') {
        return name = "配信延長";
      } else if (value === 'DELIVERING') {
        return name = "配信中";
      } else if (value === 'READY') {
        return name = "準備完了";
      } else if (value === 'PAUSED') {
        return name = "一時停止";
      } else if (value === 'INACTIVE') {
        return name = "無効";
      } else if (value === 'PAUSED_INVENTORY_RELEASED') {
        return name = "在庫解放済み";
      } else if (value === 'PENDING_APPROVAL') {
        return name = "承認待ち";
      } else if (value === 'COMPLETED') {
        return name = "完了";
      } else if (value === 'DISAPPROVED') {
        return name = "不承認";
      } else if (value === 'DRAFT') {
        return name = "下書き";
      } else if (value === 'CANCELED') {
        return name = "キャンセル済み";
      }
      return name;
    },
    page_end: function () {
      this.page_index = this.paging_num;
      this.paging_item = this.paging_num;
      this.$forceUpdate();
      this.page = this.paging_num - 1;
    },
    page_top: function () {
      this.page_index = 1;
      this.paging_item = 1;
      this.$forceUpdate();
      this.page = 0;
    },
    page_btn: function (paging_item) {
      this.page_index=paging_item;
      this.$forceUpdate();
      this.page = paging_item - 1;
    },
    filter_btn: function () {
      let self = this;
      this.isReady = false;
      let conditions = {};
      let andGroup = [];
      if (this.lineItemName) {
        let clause = {
          "item": "Name",
          "operand": "LIKE",
          "quotations": true,
          "value": this.lineItemName
        };
        andGroup.push(clause);
      }
        // 現在広告サイズ・在庫名のフィルタリング機能はしていないため、コメントアウトした。
//      if (this.adUnitSize) {
//        let sizeArray = this.ad_size.split('x');
//        let width = sizeArray[0];
//        let height = sizeArray[1];
//        let clause = {
//          "item": "Size",
//          "operand": "=",
//          "quotations": false,
//          "value": this.adUnitSize
//        };
//        andGroup.push(clause);
//      }
//      if (this.adUnitId) {
//        let clause = {
//          "item": "Id",
//          "operand": "=",
//          "quotations": false,
//          "value": this.adUnitId
//        };
//        andGroup.push(clause);
//      }
      if (this.startDate) {
        let startDateTime = this.startDate + 'T00:00';
        let clause = {
          "item": "StartDateTime",
          "operand": ">=",
          "quotations": true,
          "value": startDateTime
        };
        andGroup.push(clause);
      }
      if (this.endDate) {
        let endDateTime = this.endDate + 'T23:59';
        let clause = {
          "item": "EndDateTime",
          "operand": "<=",
          "quotations": true,
          "value": endDateTime
        };
        andGroup.push(clause);
      }
      if (this.statusName) {
        let clause = {
          "item": "Status",
          "operand": "=",
          "quotations": true,
          "value": this.statusName
        };
        andGroup.push(clause);
      }
      if (self.parentOrderId) {
        let clause = {
          "item":"orderId",
          "operand":"=",
          "quotations":false,
          "value": self.parentOrderId
        };
        andGroup.push(clause);
      }
      if(andGroup.length != 0){
        conditions['where'] = [];
        conditions['where'].push(andGroup);
      }
      let params = {
        "conditions": conditions
      };
      this.$http.get('line-items', {params: params}).then((response) => {
        this.isReady = true;
        this.line_items = response.data.contents;
        this.line_items = self.line_items.filter((el)=>{
          return (el.is_archived === false);
        });
        this.lineItemList = this.line_items.chunk(20);
        this.paging_num = this.lineItemList.length;
        this.page_index = 1;
        this.page = 0;
      }).catch((e)=>{
        console.log(e);
      });
    },
    createNewLineItemLink() {
      let self = this;
      let parentId = parseInt(this.$route.query.order_id);
      if(Number.isNaN(parentId)){ // 親オーダーIDがなかった場合、オーダー作成画面に遷移。
        return { path: '/order/create' };
      } else {
        return { path: '/lineitem/create', query: {order_id: parentId} };
      }
    }
  }
}
</script>


<style scoped>
.interval {
  margin: 10px;
}
.list_creative_name {
  color: #1CA16A;
  font-weight: bold;
  font-size: 1rem;
}
.invisible {
  display: none;
}
.paging_top {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 5px;
}
.paging_bottom {
  text-align: center;
}
.paging_class {
  border: none;
  font-weight: bold;
  background-color: #ffffff;
  outline: none;
  margin: 2px;
}
.paging_css {
  border: solid 1px #1CA16A;
  background-color: #ffffff;
  color: #1CA16A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  outline: none;
  margin: 2px;
}
.paging_margin {
  margin: 100px;
}
.custom-select, .form-control {
  font-size: 1rem;
  height: 32px;
}
.list_id_name {
  font-size: 0.7rem;
}
.display_flex {
  display: flex;
}
.display_none {
  display: none;
}
.margin-top_10 {
  margin-top: 10px;
}
.width_100per {
  width: 100%;
}
.width_182 {
  width: 182px;
}
.list_item_text_inner {
  height: 90px;
  line-height: 90px;
}
.inputs_container {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
}
.form-check {
  margin-bottom: 0;
}
.list_item_name {
  min-width: 290px
}
.list_item_size {
  min-width: 130px;
}
.list_item_start_time {
  min-width: 120px;
}
.list_item_end_time {
  min-width: 140px;
}
.list_item_stock {
  min-width: 180px;
}
.list_item_status {
  min-width: 130px;
}
.list_item_editing {
  min-width: 100px;
}
</style>
