<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
         <router-link to="/">トップ</router-link> > <router-link to="/lineitem/list">広告申込情報</router-link> > 広告申込情報を作成
      </div>
      <div class="top_title">広告申込情報を作成する</div>
      <!--広告申込情報入力欄  -->
      <div class="boxContainer">
        <div class="input_item_container">
          <div class="input_item_label">広告申込情報名</div>
          <div class="vertical_line">|</div>
          <div class="form-group name_input_field">
            <input class="form-control font_size_1rem" v-model.trim="lineItemName" type="text" placeholder="広告申込情報名を入力してください">
          </div>
          <img v-if="lineItemNameIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">広告枠のサイズ</div>
          <div class="vertical_line">|</div>
          <div class="form-group inventory_input_field">
            <select v-model="unitSizeValue" class="form-control font_size_1rem">
              <option value="" disabled selected class="select_placeholder">サイズを選択してください</option>
              <option v-for="unitSize in unitSizes">{{unitSize}}</option>
            </select>
          </div>
          <img v-if="unitSizeIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
        <!-- <div class="input_inline">
          <div class="input_item_label">コメント</div>
          <div class="vertical_line">｜</div>
          <div class="form-group comment_input_field">
            <textarea v-model.trim="lineItemComment" class="form-control font_size_1rem"></textarea>
          </div>
        </div> -->
        <!--設定入力欄-->
        <div class="input_item_container">
          <div class="input_item_label">開始時刻</div>
          <div class="vertical_line">|</div>
          <div class="date_time_area_outer">
            <div class="date_time_select_area">
              <div class="date_time_select_area_inner">
                <div class="date_tine_input_outer">
                  <input v-model="startDateSpecificationType" :value="dateSpecificationTypes.NOW" type="radio" name="radiobutton" class="input_radiobutton"><div class="radiobutton_label">今日から継続的に掲載</div>
                </div>
                <div class="date_tine_input_outer">
                  <input v-model="startDateSpecificationType" :value="dateSpecificationTypes.MANUAL" type="radio" name="radiobutton" class="input_radiobutton"><div class="radiobutton_label">開始日を手動で設定</div>
                </div>
              </div>
              <div class="date_time_state_container">
                <img v-if="startDateIsValid" src="../assets/check.png" class="img_check">
                <div v-else class="required_character">必須</div>
              </div>
            </div>
            <div v-if="startDateSpecificationType == false" class="accordion_manual">
              <div class="form-group time_field_container">
                <div class="accordion_manual_inner_label">開始日時</div>
                <input v-model="startDate" type="date" class="form-control date_input">
                <input v-model="startTime" type="time" class="form-control time_input">
              </div>
              <div v-if="!startDurationIsValid" class="end_time_required">開始日時は現在の日時より後にしてください。</div>
            </div>
          </div>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">終了時刻</div>
          <div class="vertical_line">|</div>
          <div class="date_time_area_outer">
            <div class="date_time_select_area">
              <div class="date_time_select_area_inner">
                <div class="date_tine_input_outer">
                  <input v-model="endDateSpecificationType" :value="dateSpecificationTypes.NEXT_MONTH" type="radio" name="radiobutton2" class="input_radiobutton"><div class="radiobutton_label">開始日から１ヶ月後までの掲載</div>
                </div>
                <div class="date_tine_input_outer">
                  <input v-model="endDateSpecificationType" :value="dateSpecificationTypes.MANUAL" type="radio" name="radiobutton2" class="input_radiobutton"><div class="radiobutton_label">終了日を手動で設定</div>
                </div>
              </div>
              <div class="date_time_state_container">
                <img v-if="endDateIsValid" src="../assets/check.png" class="img_check">
                <div v-else class="required_character">必須</div>
              </div>
            </div>
            <div v-if="endDateSpecificationType === dateSpecificationTypes.MANUAL" class="accordion_manual">
              <div class="form-group time_field_container">
                <div class="accordion_manual_inner_label">終了日時</div>
                <input v-model="endDate" type="date" class="form-control date_input">
                <input v-model="endTime" type="time" class="form-control time_input">
              </div>
              <div v-if="!durationIsValid" class="end_time_required">終了日時は開始日時より後にしてください。</div>
            </div>
          </div>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">数量</div>
          <div class="vertical_line">|</div>
          <div class="form-group quantity_input_field">
            <input v-model="amount" type="number" min="1" class="form-control font_size_1rem">
          </div>
          <div class="form-group impression_field">
            <select v-model="amountType" class="form-control font_size_1rem">
              <option value="IMPRESSIONS">インプレッション</option>
              <option value="CLICKS">クリック数</option>
            </select>
          </div>
          <div v-if="amount === ''" class="required_character">必須</div>
          <div v-else-if="+amount < 1 || !Number.isInteger(+amount)" class="text_required">数量には1以上の整数を入力してください。</div>
          <div v-else-if="+amount > 2147483647 || !Number.isInteger(+amount)" class="text_required">数量には2,147,483,647以下の整数を入力してください。</div>
          <img v-else src="../assets/check.png" class="img_check">
        </div>
        <div class="input_item_container">
          <div class="input_item_label">レート</div>
          <div class="vertical_line">|</div>
          <div class="form-group quantity_input_field">
            <input v-model="microAmount" type="number" min="1" class="form-control font_size_1rem">
          </div>
          <div class="form-group impression_field">
            <select class="form-control font_size_1rem" disabled>
              <option v-if="amountType == 'IMPRESSIONS'">CPM</option>
              <option v-else >CPC</option>
            </select>
          </div>
          <div v-if="microAmount === ''" class="required_character">必須</div>
          <div v-else-if="+microAmount > 10000000 " class="text_required">レートには10,000,000以下の整数を入力してください。</div>
          <img v-else src="../assets/check.png" class="img_check">
        </div>
        <!--在庫部分-->
        <div class="input_item_container">
          <div class="input_item_label">広告ユニット</div>
          <div class="vertical_line">|</div>
          <div class="form-group width_36per">
            <div class="form-control scroll_box checkbox_container">
              <div v-for="adUnit in sizeFilteredAdUnits">
                <input v-model="adUnitId" type="checkbox" :value="adUnit.id" class="checkbox_inner">{{adUnit.name}}
              </div>
              <div v-if="!unitSizeValue && sizeFilteredAdUnits.length === 0" class="">
                広告枠のサイズを選択してください。
              </div>
              <div v-else-if="sizeFilteredAdUnits.length === 0" class="">
                サイズに適合する広告ユニットが存在しません。 </br>
                新規の広告ユニットを追加してください。
              </div>
            </div>
          </div>
          <div class="new_adunit_button">
            <img v-if="adUnitsIsValid" src="../assets/check.png" class="img_check">
            <div v-else class="required_character">必須</div>
            <button @click="createAdUnit" class="btn btn-outline-success"><img src="../assets/icon_plus.png" class="img_icon_plus">新規の広告ユニットを追加する</button>
          </div>
        </div>
        <!--オーディエンス  -->
        <div class="input_item_container">
          <div class="input_item_label">オーディエンス</div>
          <div class="vertical_line">|</div>
          <div class="form-group width_36per">
            <div class="form-control scroll_box checkbox_container">
              <div v-for="audience in audiences">
                <input v-model="audienceIds" type="checkbox" :value="audience.hash_id" class="checkbox_inner">{{audience.name}}
              </div>
            </div>
          </div>
          <img v-if="keyValueIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
      </div>

      <!-- 新規広告ユニット作成モーダル -->
      <div id="modalCreateAdUnit" ref="" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
              <div class="modal_ad_unit_header">新規広告ユニット作成</div>
            </div>
            <div class="ad_unit_name_container">
              <div class="ad_unit_input_label">広告ユニット名</div>
              <div class="ad_unit_input_container">
                <input v-model.trim="newAdUnitName" type="text" class="form-control new_adunit_input" placeholder="広告ユニット名を入力してください">
                <img v-if="newAdUnitIsValid" src="../assets/check.png" class="img_check">
                <div v-else class="required_character">必須</div>
              </div>
            </div>
            <div class="ad_unit_size_container">
              <div class="ad_unit_select_label">広告ユニットサイズ</div>
              <div class="ad_unit_input_container">
                <div class="form-group new_adunit_input">
                  <select v-model="adUnitSizeValue" class="form-control font_size_1rem">
                    <option value="" disabled selected class="select_placeholder">サイズを選択してください</option>
                    <option v-for="adUnitSize in unitSizes">{{adUnitSize}}</option>
                  </select>
                </div>
                <img v-if="newAdUnitSizeIsValid" src="../assets/check.png" class="img_check">
                <div v-else class="required_character">必須</div>
              </div>
            </div>
            <div class="modal_inner_button_field">
              <button @click="createNewAdUnit" type="button" class="btn btn-success save_button" :disabled="!newAdUnitIsValid || !newAdUnitSizeIsValid">新規登録</button>
              <button type="button" class="btn btn-secondary cancel_button" data-dismiss="modal">キャンセル</button>
            </div>
            <div class="text_required">{{errorMessageCreateAdUnit}}</div>
          </div>
        </div>
      </div>

      <!-- モーダル -->
      <div id="createdModal" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <div class="modal_header_label">メッセージ</div>
            </div>
            <div class="modal_body_text">
              <span>{{resultMessage}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_side_line"></div>
      <div class="button_wrap">
        <button type="button" class="btn btn-success save_button" @click="createLineItem" :disabled="!validated || clickGuard">保存</button>
        <router-link to='/lineitem/list'><button type="button" class="btn btn-secondary cancel_button">キャンセル</button></router-link>
      </div>
    </div>
  </div>
</template>


<script>
  import { AD_UNIT_SIZES } from '../const';

  const  DATE_SPECIFICATION_TYPES = {
    MANUAL: 0,
    NOW: 1,
    NEXT_MONTH: 2
  };

  export default {
    data() {
      return{
        dateSpecificationTypes: DATE_SPECIFICATION_TYPES,
        costType: '',
        microAmount: 0,
        adUnitId: [],
        errorMessageCreateAdUnit: '',
        newAdUnitName: '',
        newAdUnitIsValid: '',
        newAdUnitSizeIsValid: '',
        amountType: 'IMPRESSIONS',
        audiences: '',
        keyValueIsValid: false,
        audienceIds: [],
        adUnitsIsValid: false,
        adUnits: [],
        amount: '',
        amountIsValid: false,
        startTime: '00:00',
        endTime: '23:59',
        endDateIsValid: '',
        startDateIsValid: '',
        startDate: '',
        endDate: '',
        lineItemNameIsValid: false,
        unitSizeIsValid: false,
        resultMessage: '',
        unitSize: '',
        unitSizeValue: '',
        adUnitSizeValue: '',
        adUnitSize: '',
        clickGuard: false,
        lineItemName: '',
        unitSizes: AD_UNIT_SIZES,
        // lineItemComment: '',
        manualStart: true,
        startDateSpecificationType: DATE_SPECIFICATION_TYPES.NOW,
        notSpecifiedEnd: true,
        manualEnd: true,
        endDateSpecificationType: DATE_SPECIFICATION_TYPES.NEXT_MONTH,
        parentOrderId: null,
        microAmountIsValid: false
      }
    },
    created: function(){
      let self = this;
      self.parentOrderId = parseInt(this.$route.query.order_id);
      if(Number.isNaN(self.parentOrderId)){ // 親オーダーIDがなかった場合、オーダー作成画面に遷移。
        self.$router.push({ path: '/order/create' });
      }

      this.$http.all([
        self.$http.get(`orders/${self.parentOrderId}`),
      ]).then(([res1]) => {
        self.orderName = res1.data.contents[0].name;
        self.advertiserId = res1.data.contents[0].advertiser_id;
        self.advertiserId = self.getAdvertiserNameById(self.advertiserId);
        self.adStaffId = res1.data.contents[0].trafficker_id;
        self.$forceUpdate();
      }).catch((err)=>{
        console.log(err);
      });

      let params = {
        "conditions":{
          "where":[
            [
              {
                "item":"status",
                "operand":"=",
                "quotations":true,
                "value":"ACTIVE"
              }
            ]
          ]
        }
      }
      this.$http.get('ad-units', {params: params}).then((response) => {
        this.adUnits = response.data.contents.data.filter(function(item){
          if(item.has_children !== true){
              return true;
          }
        });
      }).catch((e) => {
        console.log(e);
      });

      this.$http.get('audiences').then((response) => {
        this.audiences = response.data.audiences;
      }).catch((e) => {
        console.log(e);
      });

    },
    methods: {
      currentDate: function(){
        let current_date = '';
        let date_time = new Date();
        let year = date_time.getFullYear();
        let month = date_time.getMonth()+1;
        let day = date_time.getDate();
        current_date = year + '-' + ('00' + month).slice(-2) + '-' + ('00' + day).slice(-2);
        return current_date;
      },
      currentTime: function(){
        let current_time = '';
        let date_time = new Date();
        let hour = date_time.getHours();
        let minute = date_time.getMinutes();
        current_time = ('00' + hour).slice(-2) + ':' + ('00' + minute).slice(-2);
        return current_time;
      },
      createNewAdUnit: function(){
        let self = this;
        let adUnitSizes = [];
        for (let i = 0; i < 1; i++) {
          adUnitSizes[i] = {
            "size": {
              "width": this.adUnitSizeValue.split("x")[0],
              "height": this.adUnitSizeValue.split("x")[1],
              "is_aspect_ratio": false
            }
          }
        }
        let params = {
          "conditions":{
            "name": this.newAdUnitName,
            "ad_unit_sizes": adUnitSizes
          }
        };
        this.$http.post('ad-units', params).then((res) => {
          $('#modalCreateAdUnit').modal('hide');
          self.adUnits.push(res.data.data[0]);
          self.adUnitId.push(res.data.data[0].id);
          self.resultMessage = '新規広告ユニットを作成しました';
          $('#createdModal').modal('toggle');
        }).catch((err)=>{
          console.log(err);
          this.errorMessageCreateAdUnit = 'この広告ユニット名は既に使用されています。他の広告ユニット名を入力してください。'
        });
      },
      createAdUnit: function() {
        $('#modalCreateAdUnit').modal('toggle');
      },
      createLineItem: function() {
        let self = this;
        let startDateTime = '';
        let endDateTime = '';
        if (this.startDateSpecificationType === this.dateSpecificationTypes.NOW) {
          let current_time = '';
          let current_date = '';
          let date_time = new Date();
          let new_second = date_time.getSeconds();
          new_second = new_second + 30;
          date_time = date_time.setSeconds(new_second);
          date_time = new Date(date_time);
          let year = date_time.getFullYear();
          let month = date_time.getMonth() + 1;
          let day = date_time.getDate();
          let hour = date_time.getHours();
          let minute = date_time.getMinutes();
          let second = date_time.getSeconds();
          current_date = year + '-' + ('00' + month).slice(-2) + '-' + ('00' + day).slice(-2);
          current_time = ('00' + hour).slice(-2) + ':' + ('00' + minute).slice(-2) + ':' + ('00' + second).slice(-2);
          startDateTime = current_date + '\t' + current_time;
        } else {
          startDateTime = this.startDate + '\t' + this.startTime + ':00';
        }
        if (this.endDateSpecificationType === this.dateSpecificationTypes.NEXT_MONTH && this.startDateSpecificationType === this.dateSpecificationTypes.NOW) {
          let current_date_time = new Date();
          let current_day = current_date_time.getDate();
          let day = current_day + 30;
          let date = current_date_time.setDate(day);
          date = new Date(date);
          let newYear = date.getFullYear();
          let newMonth = date.getMonth() + 1;
          let newDay = date.getDate();
          let newHour = date.getHours();
          let newMinute = date.getMinutes();
          let newDate = [newYear, ('00' + newMonth).slice(-2), ('00' + newDay).slice(-2)].join("-");
          let newTime = [('00' + newHour).slice(-2), ('00' +  newMinute).slice(-2), "59"].join(":");
          endDateTime = newDate + '\t' + newTime;
        } else if (this.endDateSpecificationType === this.dateSpecificationTypes.NEXT_MONTH && this.startDateSpecificationType === this.dateSpecificationTypes.MANUAL) {
          let start_date = this.startDate;
          let start_time = this.startTime;
          let date_time = start_date + '\t' + start_time;
          date_time = new Date(date_time);
          let new_day = date_time.getDate();
          new_day = new_day + 30;
          let new_date_time = date_time.setDate(new_day);
          new_date_time = new Date(new_date_time);
          let newYear = new_date_time.getFullYear();
          let newMonth = new_date_time.getMonth() + 1;
          let newDay = new_date_time.getDate();
          let newHour = new_date_time.getHours();
          let newMinute = new_date_time.getMinutes();
          let newDate = [newYear, ('00' + newMonth).slice(-2), ('00' + newDay).slice(-2)].join("-");
          let newTime = [('00' + newHour).slice(-2), ('00' +  newMinute).slice(-2), "59"].join(":");
          endDateTime = newDate + '\t' + newTime;
        } else {
            endDateTime = this.endDate + '\t' + this.endTime + ':59'
        }
        var costType = '';
        if(this.amountType == 'IMPRESSIONS'){
          costType = 'CPM';
        }else{
          costType = 'CPC'
        }
        let params = {
          "conditions":{
            "name": this.lineItemName,
            "ad_unit_ids": this.adUnitId,
            "order_id": self.parentOrderId,
            "line_item_type": "STANDARD",
            "allow_overbook": true,
            "creative_placeholders": [
              {
                "width": parseInt(this.unitSizeValue.split("x")[0]),
                "height": parseInt(this.unitSizeValue.split("x")[1]),
                "is_aspect_ratio": false
              },
            ],
            "creative_rotation_type": "OPTIMIZED",
            "start_date_time_type": "USE_START_DATE_TIME",
            "notes": '', //this.lineItemComment,
            "start_date_time": startDateTime,
            "end_date_time": endDateTime,
            "currency_code": "JPY",
            "micro_amount": Number(this.microAmount),
            "units": parseInt(this.amount),
            "unit_type": this.amountType,
            "goal_type": "LIFETIME",
            "cost_type":  costType,
            "targeting": {
              "custom_targeting": {
                "logical_operator": "OR",
                "children": [
                  {
                    "logical_operator": "AND",
                    "children": [
                      {
                        "hash_ids": this.audienceIds,
                        "operator": "IS"
                      }
                    ]
                  }
                ]
              }
            }
          }
        };
        this.clickGuard = true;
        this.$http.post('line-items', params).then((lineItemsRes) => {
          let lineItemId = lineItemsRes.data.contents[0].id;
          this.resultMessage = "広告申込情報が作成されました";
          self.clickGuard = false;
          $('#createdModal').modal('toggle');
          $('#createdModal').on('hidden.bs.modal', function (e) {
            self.$router.push({ path: '/creative/create', query: { lineitem_id: lineItemId }});
          });
        }).catch((err)=>{
          console.log(err);
          self.clickGuard = false;
          $('#createdModal').modal('toggle');
          // TODO: サーバーからのエラーメッセージを表示
          // this.resultMessage = err.message;
          this.resultMessage = err.data.message;
          this.resultMessage = "リクエストに失敗しました";
        });
      },
    },
    computed: {
      validated: function () {
        this.newAdUnitIsValid = this.newAdUnitName !=='';
        this.newAdUnitSizeIsValid = this.adUnitSizeValue !=='';
        this.keyValueIsValid = this.audienceIds.length !== 0;
        this.adUnitsIsValid = this.adUnitId.length !== 0;
        this.amountIsValid = this.amount !== '' && this.amount > 0 && this.amount < 2147483647 ;
        this.startDateIsValid = this.startDateSpecificationType ===  this.dateSpecificationTypes.NOW || ( this.startDateSpecificationType === this.dateSpecificationTypes.MANUAL && this.startDate !== '' && this.startTime !== '' );
        this.endDateIsValid = this.endDateSpecificationType === this.dateSpecificationTypes.NEXT_MONTH || (this.endDateSpecificationType === this.dateSpecificationTypes.MANUAL && this.endDate !== '' && this.endTime !== '' && this.durationIsValid && this.startDurationIsValid);
        this.lineItemNameIsValid = this.lineItemName !== '';
        this.unitSizeIsValid = this.unitSizeValue.length !== 0;
        this.microAmountIsValid = this.microAmount !=='' && this.microAmount < 10000000;
        return (this.unitSizeIsValid && this.lineItemNameIsValid && this.startDateIsValid && this.endDateIsValid && this.amountIsValid && this.durationIsValid && this.startDurationIsValid && this.adUnitsIsValid && this.microAmountIsValid && this.keyValueIsValid);
      },
      durationIsValid: function() {
        if(this.endDate === '' || this.endTime === '') {
          return true;
        }
        if(this.startDate === this.endDate && this.startTime >= this.endTime || this.currentDate() === this.endDate && this.currentTime() >= this.endTime){
          return false;
        }
        if(this.currentDate() > this.endDate || this.startDate > this.endDate){
          return false;
        }
        return true;
      },
      startDurationIsValid: function() {
        if(this.startDate === '' || this.startTime === '') {
          return true;
        }
        if(this.currentDate() === this.startDate && this.currentTime() >= this.startTime){
          return false;
        }
        if(this.currentDate() > this.startDate){
          return false;
        }
        return true;
      },
      sizeFilteredAdUnits: function() {
        // 備考： ad_unit_sizesの0番目のサイズのみ評価してフィルタリングしている。
        return this.adUnits.filter((adUnit) => {
          if (adUnit.ad_unit_sizes && adUnit.ad_unit_sizes[0] ) {
            let size = adUnit.ad_unit_sizes[0].size;
            let sizeStr = size.width + 'x' + size.height;
            if (this.unitSizeValue === sizeStr) {
              return true;
            }
          }
        });
      }
    }

  }
</script>


<style scoped>
.text_required {
  color: #B22222;
  font-size: 13px;
  font-weight: bold;
  margin: 8px 11px 8px 8px;
}
.end_time_required{
  color: #B22222;
  font-size: 13px;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
  width: 100%;
}
.scroll_box{
  overflow:auto;
  height:100px;
  border:1px black solid;
  margin:0px;
}
.boxContainer {
	overflow: hidden;
  margin:30px 30px 0 0;
}
.btn-outline-success {
  color: #1CA16A;
  font-size: 1rem;
  border: none;
  height: 35px;
  margin: 35px 0px 0px;
  padding-left: 0px;
  background-color: #FFFFFF;
}
.name_input_field {
  width: 30%;
  height: 32px;
}
.time_field_container {
  display: flex;
  height: 32px;
  width: 100%;
}
.date_input {
  margin-right: 3px;
  font-size: 1rem;
  width: 224px;
}
.time_input {
  width: 140px;
  font-size: 1rem;
}
.quantity_input_field {
  width: 10%;
  height: 32px;
  margin-right: 3px;
}
.impression_field {
  width: 20%;
  height: 32px;
}
.modal_inner_button_field {
  text-align: center;
  margin: 0 0 20px;
}
.img_icon_plus {
  margin: 6px 2px 8px 8px;
  height: 15px;
}
.new_adunit_button {
  display: flex;
  flex-direction: column;
}
.checkbox_container {
  border: 1px solid rgba(0,0,0,0.15);
}
.font_size_1rem {
  font-size: 1rem;
}
.width_36per {
  width: 36%;
}
.modal_ad_unit_header {
  margin-right: 170px;
  font-size: 1rem;
}
.accordion_manual {
  background-color :rgb(239, 239, 239);
  padding: 10px 10px 0px 10px;
  width: 35rem;
  border-radius: 5px;
}
.accordion_manual_inner_label {
  margin: 8px;
}
.date_time_area_outer {
  display :flex;
  flex-direction: column;
  width: 60%;
}
.date_time_select_area {
  display: flex;
  width: 100%;
}
.date_time_select_area_inner {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 60%;
}
.date_tine_input_outer {
  display: flex;
  flex-direction: row;
}
.input_radiobutton {
  margin: 12px 10px 10px 10px;
}
.radiobutton_label {
  margin: 8px 0px 0px;
}
.date_time_state_container {
  display: flex;
  flex-direction: column;
}
.button_wrap {
  margin: 50px 0;
  text-align: center;
}
.checkbox_inner {
  font-size: 1rem;
  margin-right: 5px;
}
.inventory_input_field {
  width: 20%;
  height: 32px;
}
</style>
