<template>
  <div class="screen login_screen">
    <div class="img_div"><img src="../assets/logo_l.png"></div>
    <div class="login-card">
      <div class="main_body_container">
        <div class="block_1">
          <div class="login-form-row">
            <div class="alert alert-danger" role="alert" v-if="showAlert">
              {{ alertMessage }}
            </div>
          </div>
          <div class="login-form-row form_mail">
            <label for="email" class="control-label login-form-input-label">メールアドレス</label>
            <div class="form-group">
              <div class=" justify-content-center">
                <input id="email" type="email" class="form-control login-form-input" v-model="email" @keyup.enter="login" required autofocus placeholder="メールアドレスを入力してください">
              </div>
            </div>
          </div>
          <div class="login-form-row">
            <label for="password" class="control-label login-form-input-label">パスワード</label>
            <div class="form-group">
              <div class="justify-content-center">
                <input  id="password" type="password" class="form-control login-form-input" v-model="password" @keyup.enter="login" required autofocus>
              </div>
            </div>
          </div>
          <div class="login-form-row form_login">
            <div class="form-group">
              <div class="justify-content-center login_div">
                <button @click="login" type="submit" class="btn btn-success login-btn">ログイン</button>
              </div>
            </div>
          </div>
        </div>
        <div class="block_2">
          <div class="forget_pass">パスワードをお忘れですか？</div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  import http from '../services/http'

  export default {
    mounted () {

    },
    data() {
      return {
        email: '',
        password: '',
        showAlert: false,
        alertMessage: '',
      }
    },
    methods: {
      login () {
        this.$store.dispatch('auth/login',{
          email: this.email,
          password: this.password,
          successCb: (res)=>{
            this.$router.push('/');
          },
          errorCb: (error)=>{
            this.showAlert = true;
            this.alertMessage = 'メールアドレスまたはパスワードが間違っています。';
          }
        });
      }

    }
  }
</script>


<style scoped>
.login_screen {
  background-color: #644480;
  height: 100%;
}
.login-form-input {
  width:360px;
}
.login-btn {
  font-size: 1rem;
  height: 2.8rem;
  font-weight: bold;
}
.login-card {
  padding:0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.login-form-input-label {
  display:flex;
  align-items:center;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fefefe inset;
}
.img_div {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}
.img_div > img {
  height: 110px;
}
.btn-success {
  background-color: #1ca16a;
}
.forget_pass {
  color: #1ca16a;
  text-align: right;
  font-size: 0.9rem;
}
.control-label {
  margin-left: 10%;
  font-size: 0.8rem;
  font-weight: bold;
}
.form-control {
  width: 80%;
  margin-left: 10%;
}
.form_mail {
  margin-top: 25px;
}
.form_login {
  padding-top: 15px;
}
.card-block {
  flex: none;
}
.block_1 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.block_2 {
  background-color: #ffffff;
  padding: 0.6rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.login_div {
  text-align: center;
}
.main_body_container {
  width: 400px;
}
</style>
