<template>
  <div class="screen logout_screen">
    <div class="">
      <nav class="nav">
        <img src="../assets/logo.png" class="logo_adjustment">
        <div class="nav pull-right">
          <div class="logo-margin"></div>
        </div>
      </nav>
      <div class="row main_text justify-content-center">
        <div class="bold_font">ログアウト完了</div>
      </div>
      <div class="text_center fontsize_mini">
        正常にログアウトが完了しました。<br>
        ADソムリエを利用する場合は、再度ログインを行なってください。
      </div>
      <div class="row justify-content-center mt-5 bottom_text_container">
        <router-link to="/login" ><div class="green_font fontsize_mini">ログインページへ</div></router-link>
      </div>
    </div>
  </div>
</template>


<script>
export default {

}
</script>


<style scoped>
.bold_font {
  font-size: 1.6rem;
  font-weight: bold;
}
.green_font {
  font-size: 1.1rem;
  color: #1ca16a;
}
.text_center {
  text-align: center;
}
.fontsize_mini {
  font-size: 0.8rem;
}
.text-black {
  color:#1d1e1f;
}
.selected-navli{
  border-bottom: solid 4px #F8E81C;
}
.logo-margin {
  margin-right:15px;
}
.menu-item-text {
  font-size: 0.9rem;
  line-height: 2.4rem;
}
nav {
    background-color: #644480;
    height: 60px;
    width: 100%;
    box-shadow: 1px 1px 10px;
    margin-bottom: 100px;
}
.logo_adjustment {
  height: 40px;
  width: 123px;
  margin-top: 12px;
  margin-left: 19px;
}
.logout_screen {
  height: 100%;
}
.main_text {
  margin-bottom: 20px;
  width: 100%;
}
.bottom_text_container {
  width: 100%;
}
</style>
