<template>
  <div class="screen notfound_screen">
    <div class="row justify-content-center">
      <div class="color_purple font_big font_weight_500">404</div>
    </div>
    <div class="row justify-content-center">
      <div class="color_purple font_bold">ページが見つかりませんでした</div>
    </div>
    <div class="flex_box">
      <div class="margin_up_50">
        <div>お探しのページは、いずれかの理由により見つかりませんでした。</div>
        <div class="margin_UpDown">
          <div>1.URLが変更された</div>
          <div>2.ページが削除された</div>
          <div>3.URLアドレスが間違っている</div>
        </div>
        <div><router-link to="/" class="color_green">トップページ</router-link>に戻るか、<router-link to="/" class="color_green">お問い合わせ</router-link>ください。</div>
      </div>
    </div>
  </div>
</template>


<script>
export default {

}
</script>


<style scoped>
.notfound_screen {
  padding: 60px;
}
.flex_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.color_purple {
  color: #644480;
}
.color_green {
  color: #1ca16a;
}
.font_big {
  font-size: 5rem;
}
.font_bold {
  font-weight: bold;
}
.font_weight_500 {
  font-weight: 500;
}
.margin_up_50 {
  margin: 50px 0px 0px;
}
.margin_UpDown {
  margin: 30px 0px 30px;
}
</style>
