<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu font_size_0-8rem">
        <router-link to="/">トップ</router-link> > <router-link to="/order/list">オーダー</router-link> > オーダーを作成
      </div>
      <div class="top_title">オーダーを作成する</div>
      <!--オーダー情報入力欄 -->
      <div class="margin-top_30">
        <div class="input_item_container">
          <div class="input_item_label">オーダー名</div>
          <div class="vertical_line">|</div>
          <input v-model.trim="orderName" type="text" class="form-control width_252 height_32" placeholder="オーダー名を入力してください">
          <img v-if="orderNameIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">広告主</div>
          <div class="vertical_line">|</div>
          <select v-model="advertiserId" class="custom-select width_252 height_32">
            <option value='' disabled selected class="select_placeholder">広告主を選択してください</option>
            <option v-for="advertiserName in advertiserNames" :value="advertiserName.advertiser_id">{{advertiserName.advertiser_name}}</option>
          </select>
          <img v-if="advertiserIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
          <button @click="createAdvertiser" class="btn btn-outline-success"><img src="../assets/icon_plus.png" class="img_icon_plus">新規の広告主を追加する</button>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">広告担当者</div>
          <div class="vertical_line">|</div>
          <select v-model.trim="traffickerId" class="custom-select width_252 height_32">
            <option value='' disabled selected class="select_placeholder">広告担当者を選択してください</option>
            <option v-for="traffickerName in traffickerNames" :value="traffickerName.id">{{traffickerName.name}}</option>
          </select>
          <img v-if="adStaffIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
        <div class="bottom_side_line"></div>
      </div>
      <div class="text_align_center margin_40-60-60">
        <button type="button" class="btn btn-success save_button" @click="createOrder" :disabled="!validated || clickGuard">保存</button>
        <router-link to="/order/list">
          <button type="button" class="btn btn-default cancel_button">キャンセル</button>
        </router-link>
      </div>
    </div>
    <!--新規広告主作成モーダル  -->
    <div id="createAdvertiser" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
            <div class="advertiser_name_label">新規広告主を作成</div>
          </div>
          <div class="advertiser_input_container">
            <input v-model.trim="newAdvertiserName" type="text" class="new_advertiser_input form-control" placeholder="新規広告主を入力してください">
            <img v-if="newAdvertiserIsValid" src="../assets/check.png" class="img_check">
            <div v-else class="required_character">必須</div>
          </div>
          <div class="modal_inner_button_container">
            <button @click="createNewAdvertiser" type="button" class="btn btn-success save_button" :disabled="!newAdvertiserIsValid">新規登録</button>
            <button type="button" class="btn btn-default cancel_button" data-dismiss="modal">キャンセル</button>
          </div>
          <div class="text_required">{{errorMessageCreateAdvertiser}}</div>
        </div>
      </div>
    </div>
    <!-- モーダル -->
    <div id="createdOrder" ref="createdModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="modal_header_label">メッセージ</div>
          </div>
          <div class="modal_body_text">
            <span>{{orderResultMessage}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return{
        errorMessageCreateAdvertiser: '',
        newAdvertiserIsValid: false,
        newAdvertiserName: '',
        advertiserNames: [],
        traffickerId: '',
        orderName: '',
        advertiserId: '',
        orderNameIsValid: false,
        advertiserIsValid: false,
        adStaffIsValid: false,
        clickGuard: false,
        traffickerNames: [],
        orderResultMessage: ''
      }
    },
    created: function(){
      let self = this;
      this.$http.all([
        self.$http.get('advertisers'),
        self.$http.get('users')
      ]).then(([advertisersRes, usersRes])=>{
        self.advertiserNames = advertisersRes.data.contents;
        self.traffickerNames = usersRes.data.users;
      }).catch((err)=>{
        console.log(err);
      });
    },
    methods: {
      createNewAdvertiser: function(){
        let self = this;
        this.errorMessageCreateAdvertiser = '';
        let params = {
          'conditions': {
            'advertiser_name': this.newAdvertiserName,
            'type': 'ADVERTISER'
          }
        }
        this.$http.post('advertisers', params).then((res) => {
          self.advertiserNames.push(res.data.contents[0]);
          self.advertiserId = res.data.contents[0].advertiser_id;
          $('#createAdvertiser').modal('hide');
        }).catch((err)=>{
          console.log(err);
          this.errorMessageCreateAdvertiser = 'この広告主名は既に使用されています。他の広告主名を入力してください。'
        });
      },
      createAdvertiser: function(){
          this.errorMessageCreateAdvertiser = '';
          $('#createAdvertiser').modal('toggle');
      },
      createOrder: function(){
        let self = this;
        let params = {
          "conditions": {
            "name": this.orderName,
            "advertiser_id": this.advertiserId,
            "trafficker_id": this.traffickerId
          }
        };
        this.clickGuard = true;
        this.$http.post('orders', params).then((response) => {
          let orderId = response.data.contents[0].id;
          this.orderResultMessage = response.data.message;
          this.orderResultMessage = "オーダーが作成されました";
          self.clickGuard = false;
          $('#createdOrder').modal('toggle');
          $('#createdOrder').on('hidden.bs.modal', function (e) {
            self.$router.push({ path: '/lineitem/create', query: { order_id: orderId }});
          });
        }).catch((err)=>{
          var errorMessage = JSON.stringify(err.response.data.error);
          if(errorMessage.match('NOT_UNIQUE')){
            this.orderResultMessage = 'この名前はすでに使用されています';
          }else{
            this.orderResultMessage = 'リクエストに失敗しました';
          };
          $('#createdOrder').modal('toggle');
          self.clickGuard = false;
        });
      },
    },
    computed: {
      validated: function () {
        this.newAdvertiserIsValid = this.newAdvertiserName !== '';
        this.orderNameIsValid = this.orderName !== '';
        this.adStaffIsValid = this.traffickerId !== '';
        this.advertiserIsValid = this.advertiserId !=='';
        return (this.orderNameIsValid && this.adStaffIsValid && this.advertiserIsValid);
      }
    }
  }
</script>

<style scoped>
.text_required {
  color: #B22222;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.btn-outline-success {
  color: #1CA16A;
  font-size: 1rem;
  border: none;
  height: 35px;
  padding: 0px;
  background-color: #FFFFFF;
}
.img_icon_plus {
  margin: 6px 2px 8px 8px;
  height: 15px;
}
.font_size_0-8rem {
  font-size: 0.8rem;
}
.text_align_center {
  text-align: center;
}
.margin-top_30 {
  margin-top: 30px;
}
.margin_40-60-60 {
  margin: 40px 60px 60px;
}
.width_252 {
  width: 252px;
}
.height_32 {
  height: 32px;
}
.advertiser_name_label {
  font-size: 1rem;
  margin-right: 180px;
  color: #777;
}
.advertiser_input_container {
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.new_advertiser_input {
  height: 32px;
  width: 252px;
}
.modal_inner_button_container {
  text-align: center;
  margin: 40px 60px 40px;
}
</style>
