<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > オーダー
      </div>
      <div class="top_title_container">
        <div class="top_title">オーダー</div>
        <router-link to="/order/create">
          <button type="button" class="btn btn-success new_add_button">
            <img class="add_button_img" src="../assets/icon_add.png">新しいオーダーを追加
          </button>
        </router-link>
      </div>
      <div class="refine_search_container">
        <div class="input_fields">
          <div class="refine_by_conditions_container">
            <div class="conditions_label">広告主</div>
            <div class="interval selection_field">
              <div class="form-group">
                <select v-model='advertiserId' class="custom-select advertiser_select">
                  <option value="" disabled selected class="select_placeholder">広告主を選択</option>
                  <option></option>
                  <option v-for='item in advertisers' :value="item.advertiser_id">{{item.advertiser_name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="refine_by_conditions_container">
            <div class="conditions_label">オーダー名</div>
            <div class="interval selection_field">
              <div class="form-group">
                <input type="text" class="form-control order_name" v-model='orderName' placeholder="オーダー名を入力">
                </input>
              </div>
            </div>
          </div>
          <div class="refine_by_conditions_container">
            <div class="conditions_label">広告担当者</div>
            <div class="interval selection_field">
              <div class="form-group">
                <select v-model='userId' class="custom-select staff_select">
                  <option value="" disabled selected class="select_placeholder">広告担当者を選択</option>
                  <option></option>
                  <option v-for='item in users' :value="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="button_tr">
          <div  class="refine_button_container">
            <button v-on:click="filter_btn" type="button" class="btn btn-outline-success refine_button">絞り込み</button>
          </div>
        </div>
      </div>
      <div class="paging_margin" v-if="isReady === false"></div>
      <div class="paging_top" v-if="isReady"><!-- ページング -->
        <button v-on:click="page_top" class="paging_css">先頭</button>
        <button v-on:click="page_btn(paging_item)" v-for="paging_item in paging_num" type="button" v-bind:class="{paging_class:page_index===paging_item, paging_css:page_index!==paging_item}">{{paging_item}}</button>
        <button v-on:click="page_end" class="paging_css">最後</button>
      </div><!-- /ページング -->
      <div class="panel panel-default">
        <table class="table table_body">
          <tr class="panel-heding table_header">
            <td class="list_header_item list_item_check">
              <div class="form-check"><label class="form-check-label"></label></div>
            </td>
            <td class="list_header_item list_item_name">
              <div class="list_title_label">オーダー名</div>
            </td>
            <td class="list_header_item list_item_advertiser">
              <div class="list_title_label">広告主</div>
            </td>
            <td class="list_header_item list_item_staff">
              <div class="list_title_label">広告担当者</div>
            </td>
            <td class="list_header_item list_item_editing"></td>
          </tr>
          <tr v-for="item in orderList[page]" v-if="isReady" id="list">
            <td class="list_body_item">
              <div class="form-check">
                <label class="form-check-label"></label>
              </div>
            </td>
            <td class="list_body_item">
              <router-link :to="{ path: '/lineitem/list', query: { order_id: item.id }}">
                <div class="list_creative_name">{{item.name}}</div>
              </router-link>
              <div class="list_id_name">ID:{{item.id}}</div>
            </td>
            <td class="list_body_item"><div class="list_item_text_inner">{{getAdvertiserName(item.advertiser_id)}}</div></td>
            <td class="list_body_item"><div class="list_item_text_inner">{{getUserName(item.trafficker_id)}}</div></td>
            <td class="list_body_item editing_button_container">
              <router-link :to="'/order/update/' + item.id">
                <button type="button" class="btn btn-success editing_button">編集</button>
              </router-link>
            </td>
          </tr>
        </table>
        <div :class="{'invisible': isReady}" class="pulse-loader"><!-- ローディングの際のアニメーション -->
          <pulse-loader></pulse-loader>
        </div><!-- /ローディングの際のアニメーション -->
        <div v-if="isReady && orderList.length === 0" class="not_found_text">
          オーダーが見つかりませんでした。
        </div>
        <div class="paging_bottom" v-if="isReady"><!-- ページング -->
          <button v-on:click="page_top" class="paging_css">先頭</button>
          <button v-on:click="page_btn(paging_item)" v-for="paging_item in paging_num" type="button" v-bind:class="{paging_class:page_index===paging_item, paging_css:page_index!==paging_item}">{{paging_item}}</button>
          <button v-on:click="page_end" class="paging_css">最後</button>
        </div><!-- /ページング -->
      </div>
    </div>
  </div>
</template>


<script>
var PulseLoader = require('vue-spinner/src/PulseLoader.vue');
export default{
  components:{
    'PulseLoader': PulseLoader
  },
  data(){
    return{
      page_index:1,
      where:[],
      advertiserId:'',
      paging_num:'',
      page:0,
      paging_item:'',
      isReady: false,
      advertisers:'',
      orderName:'',
      orderList:[],
      users: '',
      userName: '',
      userId: '',
      archived: ''
    }
  },
  created: function(){
    let self = this;
    this.$http.all([
      self.$http.get('advertisers'),
      self.$http.get('users'),
      self.$http.get('orders')
    ]).then(([advertisersRes, usersRes, ordersRes]) => {
      self.isReady = true;
      self.advertisers = advertisersRes.data.contents;
      self.users = usersRes.data.users;
      let orders = ordersRes.data.contents;
      orders = orders.filter((el)=>{
        return (el.is_archived === false);
      });
      self.orderList = orders.chunk(20);
      self.paging_num = self.orderList.length;
    }).catch((e)=>{
      console.log(e);
    });
    let params = {
      "conditions":{}
    };
  },
  methods:{
    getUserName: function(id){
      let self = this;
      let name = '';
      self.users.forEach((el)=>{
        if(el.id === id) name = el.name;
      });
      return name;
    },
    getAdvertiserName: function(id){
      let self = this;
      let name = '';
      self.advertisers.forEach((el)=>{
        if(el.advertiser_id === id) name = el.advertiser_name;
      });
      return name;
    },
    page_end: function(){
      this.page_index = this.paging_num;
      this.paging_item = this.paging_num;
      this.$forceUpdate();
      this.page = this.paging_num - 1;
    },
    page_top: function(){
      this.page_index = 1;
      this.paging_item = 1;
      this.$forceUpdate();
      this.page = 0;
    },
    page_btn: function(paging_item){
      this.page_index = paging_item;
      this.$forceUpdate();
      this.page = paging_item - 1;
    },
    filter_btn: function(){
      this.isReady = false;
      let conditions = {};
      let andGroup = [];
      if(this.advertiserId){
        let clause = {
          "item": "advertiserId",
          "operand": "=",
          "quotations": true,
          "value": this.advertiserId
        };
        andGroup.push(clause);
      }
      if(this.orderName){
        let clause = {
          "item": "name",
          "operand": "LIKE",
          "quotations": true,
          "value": this.orderName
        };
        andGroup.push(clause);
      }
      if(this.userId){
        let clause = {
          "item": "traffickerId",
          "operand": "=",
          "quotations": true,
          "value": this.userId
        };
        andGroup.push(clause);
      }
      if(andGroup.length != 0){
        conditions['where'] = [];
        conditions['where'].push(andGroup);
      }
      let params = {
        "conditions": conditions
      };
      this.$http.get('orders', {params: params}).then((response) => {
        this.isReady = true;
        let orders = response.data.contents;
        orders = orders.filter((el)=>{
          return (el.is_archived === false);
        });
        this.orderList = orders.chunk(20);
        this.paging_num = this.orderList.length;
        this.page_index = 1;
        this.page = 0;
      }).catch((e)=>{
        console.log(e);
      });
    }
  }
}
</script>


<style scoped>
.interval {
  margin: 10px;
}
.list_creative_name {
  color: #1CA16A;
  font-weight: bold;
  font-size: 1rem;
}
.invisible {
  display: none;
}
.paging_top {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 5px;
}
.paging_bottom {
  text-align: center;
}
.paging_class {
  border: none;
  font-weight: bold;
  background-color: #ffffff;
  outline: none;
  margin: 2px;
}
.paging_css {
  border: solid 1px #1CA16A;
  background-color: #ffffff;
  color: #1CA16A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  outline: none;
  margin: 2px;
}
.paging_margin {
  margin: 100px;
}
.custom-select, .form-control {
  font-size: 1rem;
  height: 32px;
}
.advertiser_select {
  width: 252px;
}
.staff_select {
  width: 238px;
}
.order_name {
  width: 266px;
}
.list_id_name {
  font-size: 0.7rem;
}
.list_item_text_inner {
  height: 90px;
  line-height: 90px;
}
.form-check {
  margin-bottom: 0;
}
.list_item_name {
  min-width: 350px;
}
.list_item_advertiser {
  min-width: 310px;
}
.list_item_staff {
  min-width: 230px;
}
.list_item_editing {
  min-width: 200px;
}
</style>
