<template>
  <div class="screen">
    <div class="main_center">
      <div class="pankuzu">
        <router-link to="/">トップ</router-link> > <router-link to="/order/list">オーダー</router-link> > オーダーを更新
      </div>
      <div class="top_title">オーダーを更新する</div>
      <!--オーダー情報入力欄 -->
      <div class="margin-top_30">
        <div class="input_item_container">
          <div class="input_item_label">オーダー名</div>
          <div class="vertical_line">|</div>
          <input v-model.trim="orderName" type="text" class="form-control width_252 height_32" placeholder="オーダー名を入力してください">
          <img v-if="orderNameIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">広告主</div>
          <div class="vertical_line">|</div>
          <div class="margin-top_8">{{advertiserId}}</div>
          <img v-if="advertiserIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
        <div class="input_item_container">
          <div class="input_item_label">広告担当者</div>
          <div class="vertical_line">|</div>
          <form>
            <select v-model="adStaffId" class="custom-select width_252 height_32" placeholder="広告担当者を選択してください">
              <option v-for="adStaff in adStaffs" :value="adStaff.id">{{adStaff.name}}</option>
            </select>
          </form>
          <img v-if="adStaffIsValid" src="../assets/check.png" class="img_check">
          <div v-else class="required_character">必須</div>
        </div>
      </div>
      <div class="bottom_side_line"></div>
      <div class="text_align_center margin_40-60-60">
        <button type="button" class="btn btn-success save_button" @click="updateOrder" :disabled="!validated || clickGuard">更新</button>
        <router-link to="/order/list">
          <button type="button" class="btn btn-default cancel_button">キャンセル</button>
        </router-link>
      </div>
    </div>
    <!-- モーダル -->
    <div id="updatedModal" ref="updatedModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatedModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <div class="modal_header_label">メッセージ</div>
          </div>
          <div class="modal_body_text">
            <span>{{ orderResultMessage }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return{
        orderId: '',
        advertisers: '',
        adStaff: '',
        orderName: '',
        advertiserId: '',
        orderNameIsValid: false,
        advertiserIsValid: false,
        adStaffIsValid: false,
        clickGuard: false,
        adStaffs: [],
        adStaffId: '',
        orderResultMessage: ''
      }
    },
    created: function(){
      let self = this;

      self.$http.get('advertisers')
      .then((res)=>{
        self.advertisers = res.data.contents;
      }).then(()=>{
        return this.$http.all([
          self.$http.get('users'),
          self.$http.get(`orders/${this.$route.params.id}`),
        ])
      }).then(([usersResponse, ordersResponse])=>{
        self.adStaffs = usersResponse.data.users;
        self.orderName = ordersResponse.data.contents[0].name;
        self.advertiserId = ordersResponse.data.contents[0].advertiser_id;
        self.advertiserId = self.getAdvertiserNameById(self.advertiserId);
        self.adStaffId = ordersResponse.data.contents[0].trafficker_id;
      }).catch((err)=>{
        console.log(err);
      });
    },
    methods: {
      updateOrder: function(){
        let params = {
          "conditions": {
            "name": this.orderName,
            "trafficker_id": this.adStaffId
          }
        }
        this.clickGuard = true;
        this.orderResultMessage = "オーダーが更新されました";
        this.$http.put(`orders/${this.$route.params.id}`, params).then((response) => {
          this.clickGuard = false;
          $('#updatedModal').modal('toggle');
        }).catch((err)=>{
          console.log(err);
          this.orderResultMessage = "リクエストに失敗しました";
        });
      },
      getAdvertiserNameById: function(id){
          let self = this;
          let name = '';
          self.advertisers.forEach((el)=>{
            if(el.advertiser_id === id) name = el.advertiser_name;
          });
          return name;
      },
      getStaffNameById: function(staffId){
        let self = this;
        let staffName = '';
        self.adStaffs.forEach((element)=>{
          if(element.id === staffId) staffName = element.name
        });
        return staffName;
      }
    },
    computed: {
      validated: function () {
        this.orderNameIsValid = this.orderName !== '';
        this.adStaffIsValid = this.adStaffId !== '';
        this.advertiserIsValid = this.advertisers !=='';
        return (this.orderNameIsValid && this.adStaffIsValid && this.advertiserIsValid);
      }
    }
  }
</script>

<style scoped>
.text_align_center {
  text-align: center;
}
.margin-top_30 {
  margin-top: 30px;
}
.margin-top_8 {
  margin: 8px 0 0;
}
.margin_40-60-60 {
  margin: 40px 60px 60px;
}
.width_252 {
  width: 252px;
}
.height_32 {
  height: 32px;
}
</style>
