<template>
  <div class="screen">
    <div class="inner_screen">
      <div class="intro_panel"  >
        <router-link to="/order/create" >
          <div class="intro_text">広告作成</div>
          <img class="intro_btn_img" src="../assets/add1.png">
        </router-link>
      </div>
      <div class="intro_panel" >
        <router-link to="/audience/create" >
          <div class="intro_text">オーディエンス作成</div>
          <img class="intro_btn_img" src="../assets/add2.png">
        </router-link>
      </div>
    </div>
  </div>
</template>


<script>
</script>


<style scoped>
.inner_screen {
   display: flex;
   align-items: left;
   justify-content: center;
   padding-top: 150px;
}
.intro_panel {
  margin: 0 52px;
}
.intro_btn_img {

}
.intro_text {
  position: absolute;
  height: 80px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  margin-top: 124px;
  margin-left: 171px;
  line-height: 1.2;
  font-size: 34px;
  color: #fff;
  max-width: 260px;
  font-weight: bold;
}
</style>
