<template>
  <div>
    <form>
      <div v-for="item in forms">{{item.label}}: <input v-model="item.value" v-bind:placeholder="item.placeholder"></input></div>
    </form>
  </div>
</template>

<script>
export default {
  props: {
    forms: Array
  },
  data () {
    return {
      electron: process.versions['atom-shell'],
      node: process.versions.node,
      path: '/',
      platform: require('os').platform(),
      vue: require('vue/package.json').version
    }
  }
}

</script>

<style scoped>
.title {
  color: #888;
  font-size: 18px;
  font-weight: initial;
  letter-spacing: .25px;
  margin-top: 10px;
}

.items { margin-top: 8px; }

.item {
  display: flex;
  margin-bottom: 6px;
}

.item .name {
  color: #6a6a6a;
  margin-right: 6px;
}

.item .value {
  color: #35495e;
  font-weight: bold;
}



/* =============== 使い方 ===============

________________ テンプレート

<form-aggregates
  v-bind:forms="forms"
></form-aggregates>

________________ プロパティの構造

this.forms = [
  { key: "sDate", label: '開始日',        value: '2017-09-01',   placeholder:'sDate' },
  { key: "eDate", label: '終了日',        value: '2017-10-01',   placeholder:'eDate' },
  { key: "tName", label: 'テーブル名',     value: 'kakaku_ddd_log',   placeholder:'tName' },
  { key: "logPath",   label: 'ログのS3パス',   value: 's3://dmp-spark-output-bucket/log/dmp/kakakumag', placeholder:'' },
  { key: "allowErrorCount",  label: 'エラー許容回数',  value: 500, placeholder:'' }
]

________________ axiosのパラメータ作成

let params = {}
self.forms.forEach( el => {
  params[el.key] = el.value
})
self.$http.get('/', {params: params} )


================ 以上 ================ */

</style>
