<template>
  <div class="criteria-builder-component main_body_container" v-if="tdAvailableDatabasesAndTables.length > 0">
    <!-- 抽出条件グループの繰り返し -->
    <div v-for="(criteriaGroup, criteriaGroupIndex) in criteriaGroups">
      <!-- 抽出条件グループの連結部分 -->
      <div class="group-separator display_flex" v-if="criteriaGroup.connect_before_by">
        <div class="main_bottom_hr"><hr></div><!-- グループ削除の横の戦 左 -->
        <div class="form-control group-connective-selector display_flex">
          または
        </div>
        <div class="main_bottom_hr"><hr></div><!-- グループ削除の横の線 右 -->
      </div>
      <!-- 抽出条件の繰り返し -->
      <div class="main_label">以下の全ての条件を満たす</div>
      <div class="main_body">
        <div class="img_close_container">
          <img v-if="criteriaGroups.length > 1" v-on:click="removeCriteriaGroup(criteriaGroupIndex)" src="../assets/btn_close.png">
        </div>
        <div v-for="(criteria, criteriaIndex) in criteriaGroup.children">
          <div class="form-group criteria-wrapper display_flex">
            <div class="criteria-rule display_flex">
              <select class="form-control custom-select form-inline column-selector" v-model="criteria.table">
                <option value='' disabled selected class="display_none">テーブル</option>
                <option v-for="(table, i) in getObjectFromArrayByName(tdDatabaseName, tdAvailableDatabasesAndTables).tables" :value="table.name">{{ table.name }}</option>
              </select>
              <select class="form-control custom-select column-selector" :disabled="!criteria.table" v-model="criteria.column">
                <option value='' disabled selected class="display_none">カラム</option>
                <option v-for="tableColumn in getObjectFromArrayByName(criteria.table, getObjectFromArrayByName(tdDatabaseName, tdAvailableDatabasesAndTables).tables )['schema']">{{ tableColumn.name }}</option>
              </select>
              <input class="form-control value-input" type="text" v-if="criteriaColumnType(criteria).match(/string/)" :disabled="!criteria.column" v-model="criteria.value" placeholder="値">
              <input class="form-control value-input" type="number" v-else="criteriaColumnType(criteria).match(/int|float|long|double/)" :disabled="!criteria.column" v-model="criteria.value" placeholder="値">

              <div class="operand_selector_container">
                <select v-if="criteriaColumnType(criteria).match(/string/)" :disabled="!criteria.column" class="operand-selector" v-model="criteria.operand">
                  <option value='' disabled selected class="display_none">条件</option>
                  <option value="LIKE">を含む</option>
                  <option value="NOT LIKE">を含まない</option>
                  <option value="=">一致する</option>
                </select>
                <select v-else-if="criteriaColumnType(criteria).match(/int|float|long|double/)" :disabled="!criteria.column" class="operand-selector" v-model="criteria.operand">
                  <option value='' disabled selected class="display_none">条件</option>
                  <option value=">">より大きい</option>
                  <option value=">=">以上</option>
                  <option value="=">一致する</option>
                  <option value="<=">以下</option>
                  <option value="<">より小さい</option>
                </select>
                <select v-else class="operand-selector" :disabled="!criteria.column" v-model="criteria.operand">
                  <option value='' disabled selected class="display_none">条件</option>
                </select>
              </div>
              <div class="delete_button_container">
                <button v-on:click="removeCriteria(criteriaGroupIndex, criteriaIndex)" type="button" class="btn btn-secondary delete_button" :disabled="criteriaGroup.children.length<=1"><img class="delete_add_aicon" src="../assets/icon_delete.png">削除</button>
              </div>
            </div>
          </div>
        </div><!-- 抽出条件の繰り返し終わり -->
        <div class="">
          <div class="main_bottom_div6"><!-- 条件追加ボタン -->
            <button v-on:click="addCriteria(criteriaGroupIndex)" type="button" class="btn btn-secondary conditions_add_button"><img class="delete_add_aicon" src="../assets/icon_add.png">条件追加</button>
          </div><!-- /条件追加ボタン -->
        </div>
      </div>
    </div><!-- 抽出条件グループの繰り返し終わり -->
    <!-- グループ追加ボタン -->
    <div class="group-separator display_flex">
      <button v-on:click="addCriteriaGroup" type="button" class="btn btn-secondary or_add_button"><img class="delete_add_aicon" src="../assets/icon_add.png">「または」追加</button>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    criteriaGroups: Array,
    tdAvailableDatabasesAndTables: Array,
    tdDatabaseName: String
  },
  data() {
    return {

    }
  },

  created: function(){

  },

  methods: {
    getObjectFromArrayByName( name, parentArray ){
      if(!Array.isArray(parentArray)){
        console.warn('parentArray is not Array at getObjectFromArrayByName');
        console.warn(name, parentArray);
        return {};
      }
      let namedObj = {};
      parentArray.forEach((el)=>{
        if(el.name == name){
          namedObj = el;
        }
      });
      return namedObj;
    },
    dbSelectUpdate(){
      this.initCriteriaGroup();
      this.$forceUpdate();
    },
    addCriteriaGroup(){
      this.criteriaGroups.push(this.newCriteriaGroup());
      this.$forceUpdate();
    },
    removeCriteriaGroup(groupIndex){
      this.criteriaGroups.splice(groupIndex,1);
      this.criteriaGroups[0].connect_before_by = "";
      this.$forceUpdate();
    },
    addCriteria(groupIndex){
      this.criteriaGroups[groupIndex].children.push(this.newCriteria());
      this.$forceUpdate();
    },
    removeCriteria(groupIndex, criteriaIndex){
      this.criteriaGroups[groupIndex].children.splice(criteriaIndex,1);
      if(this.criteriaGroups[groupIndex].children.length > 0){
        this.criteriaGroups[groupIndex].children[0].connect_before_by = "";
      }
      this.$forceUpdate();
    },
    newCriteria(){
      return {
        connect_before_by: "AND",
        table: "",
        column: "",
        operand: "",
        value: "",
        type: ""
      };
    },
    newCriteriaGroup(){
      let criteria = this.newCriteria();
      criteria.connect_before_by = "";
      return {
        connect_before_by: "OR",
        children: [ criteria ]
      };
    },
    initCriteriaGroup(){
      let criteria = this.newCriteria();
      criteria.connect_before_by = "";
      this.criteriaGroups = [{
        connect_before_by: "",
        children: [ criteria ]
      }];
    },
    criteriaColumnType(criteria){
      let criteriaTableColumns = this.getObjectFromArrayByName(criteria.table, this.getObjectFromArrayByName(this.tdDatabaseName, this.tdAvailableDatabasesAndTables).tables )['schema'];
      if(!Array.isArray(criteriaTableColumns)) return "";

      let column = criteriaTableColumns.find((column)=>{ return column.name == criteria.column });
      if(!column) return "";
      criteria.type = column.type; // ここでcriteriaのプロパティに代入されたtypeがサーバ側に送信される
      return criteria.type;
    }
  },
  watch: {
    // criteriaGroups: function(val){
    //   this.$emit('update-criteria', this.criteriaGroups);
    // },
    // deep: true
  }

}
</script>
<style scoped>
.criteria-builder-component {
    font-family: 'Noto Sans Japanese', sans-serif;
    font-size: 13px;
}
.group-separator{
  height:80px;
  width: 800px;
  align-items:center;
  flex-direction:row;
}
.group-connective-selector{
  font-weight:bold;
  border:none;
  width: 60px;
  justify-content:center;
  text-align: bold;
  width: 20%;
}
.criteria-wrapper{
  flex-direction:column;
  margin-bottom:0px !important;
}
.criteria-rule{
  flex-direction:row;
}
.column-selector{
  margin:4px;
  height: 34px;
  width: 170px;
}
.operand_selector_container {
  width: 100px;
}
.operand-selector{
  width:100px;
  margin:4px;
  height: 34px;
  font-weight: bold;
  color: #6b6b6b;
  border: 1px solid #898989;
  background: right 50% no-repeat,linear-gradient(to bottom, #fff 0%,#f3f3f3 100%);
  background-size: 20px, 100%;
  padding-left: 20px;
  z-index: 0;
}
.value-input{
  margin:4px;
  height: 34px;
  width: 170px;
}
.custom-select {
  font-size: 1rem;
  height: 0;
}
.form-control {
  font-size: 1rem;
}
.form-group {
  margin-left: 10px;
}
.delete_button {
  background-color: #EF466B;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  margin: 8px 3px 0 10px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
}
.delete_button_container {
  margin-left: 5px;
  width: 80px;
  text-align: end;
  margin-right: 47.5px;
}
.delete_add_aicon {
  height: 15px;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.conditions_add_button {
  font-weight: bold;
  font-size: 1rem;
  background-color: #1CA16A;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  border: none;
}
.or_add_button {
  background-color: #1CA16A;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  align-items: center;
  margin-left: 42%;
  font-weight: bold;
  font-size: 1rem;
  border: none;
}
.conditions_button {
  font-weight: bold;
  color: #6b6b6b;
  border: 1px solid #898989;
  background: right 50% no-repeat,linear-gradient(to bottom, #fff 0%,#f3f3f3 100%);
  background-size: 20px, 100%;
  padding-left: 20px;
  z-index: 0;
}
.main_bottom_hr {
  width: 40%;
  margin: 0 20px;
}
.main_label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1rem;
}
.main_body {
  background-color: #f3f3f3;
  padding: 5px 5px 5px 5px;
  background-color: #f3f3f3;
  padding: 10px 5px 5px;
  border-radius: 5px;
  width: 800px;
}
.img_close_container {
  height: 15px;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.img_close_container > img {
  height: 13px;
  margin-left: 98%;
  margin-bottom: 5px;
}
.main_bottom_div6 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: right;
  margin-right: 50px;
}
.margin_right_47-5 {
  margin-right: 47.5px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.display_flex {
  display: flex;
}
.display_none {
  display: none;
}
.width_30percent {
  width: 30%;
}
.width_15percent {
  width: 15%;
}
.width_10per {
  width: 10%;
}
.text_align_end {
  text-align: end;
}
.main_body_container {
  margin-top: 6px;
  flex: 0.9;
}
</style>
