<template>
  <div class="site-footer" :class="{'fix_bottom': isFooterFixPage}">
    ©2017 PersonLink
  </div>
</template>

<script>
export default {
  data () {
    return {
      footerFixPagePaths: [
        '/login'
      ]
    }
  },

  mounted(){

  },

  computed:{

    isFooterFixPage() {
      let self = this;
      let isFooterFixPage = false;
      this.footerFixPagePaths.forEach((val)=>{
        if (val === self.$route.path ) isFooterFixPage = true;
      });
      return isFooterFixPage;
    }

  },

  methods: {

  }

}
</script>


<style scoped>

.site-footer {
  padding:4px;
  bottom:0px;
  position:static;
  width: 100%;
  text-align:center;
  vertical-align:middle;
  background-color:#fafafa;
  color:#2a8;
  font-size: 0.7rem;
}
.fix_bottom {
  position:fixed;
}

</style>
