<template>
  <nav class="nav navbar pll-right bg-faded" :class="{'invisible': !isLoggedIn}">
    <div class="nav pull-right">
      <div>
        <router-link to="/"><img class="logo" src="../assets/logo.png" /></router-link>
      </div>
      <div class="logo-margin"></div>
      <ul class="nav" :class="{'invisible': !isLoggedIn}">
        <router-link to="/order/list">
          <li class="navli navli_order">
            <div :class="{'selected-navli': selected==='order' }" class="width_105 heder_label">
              <img  class="minilogo" v-if="selected==='order'" src='../assets/icon_order_on.png' >
              <img class="minilogo" v-else src='../assets/icon_order_off.png'>
              オーダー
            </div>
          </li>
        </router-link>
        <router-link to="/lineitem/list">
          <li class="navli navli_lineitem">
            <div :class="{'selected-navli': selected==='lineitem' }" class="width_135 heder_label">
              <img class="minilogo" v-if="selected==='lineitem'" src="../assets/icon_request_on.png">
              <img class="minilogo" v-else src="../assets/icon_request_off.png">
              広告申込情報
            </div>
          </li>
        </router-link>
        <router-link to="/creative/list">
          <li class="navli navli_creative">
            <div :class="{'selected-navli': selected==='creative' }" class="width_160 heder_label">
              <img class="minilogo" v-if="selected==='creative'" src="../assets/icon_creative_on.png">
              <img class="minilogo" v-else src="../assets/icon_creative_off.png">
              クリエイティブ
            </div>
          </li>
        </router-link>
        <router-link to="/advertiser/list">
          <li class="navli navli_advertiser">
            <div :class="{'selected-navli': selected==='advertiser' }" class="width_100 heder_label">
              <img class="minilogo" v-if="selected==='advertiser'" src="../assets/icon_advertiser_on.png">
              <img class="minilogo" v-else src="../assets/icon_advertiser_off.png">
              広告主
            </div>
          </li>
        </router-link>
        <router-link to="/audience/list">
          <li class="navli navli_audience">
            <div :class="{'selected-navli': selected==='audience' }" class="width_150 heder_label">
              <img class="minilogo" v-if="selected==='audience'" src="../assets/icon_segment_on.png">
              <img class="minilogo" v-else src="../assets/icon_segment_off.png">
              オーディエンス
            </div>
          </li>
        </router-link>
        <router-link to="/ad-unit/list">
          <li class="navli navli_adunit">
            <div :class="{'selected-navli': selected==='ad-unit' }" class="width_160 heder_label">
              <img class="minilogo" v-if="selected==='ad-unit'" src="../assets/icon_unit_on.png">
              <img class="minilogo" v-else src="../assets/icon_unit_off.png">
               広告ユニット
            </div>
          </li>
        </router-link>
      </ul>
      <ul class="nav navbar-nav navbar-right header-section-right display_inline-block margin-left_auto" :class="{'invisible': !isLoggedIn}">
        <!-- <li class="navli margin-left-right_5">
          <router-link to="/config">
            <img class="lightlogo" src="../assets/icon_setting.png">
          </router-link>
        </li> -->
        <li class="navli margin-left-right_5">
          <div class="btn-group">
            <a class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="rounded-circle lightlogo" src="../assets/icon.png" alt="ユーザーメニュー">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- 現状個人設定のページがないのでコメントアウト -->
              <!-- <li class="dropdown-item clickable menu-item-text"><router-link to="/config" class="text-black">個人設定</router-link></li> -->
              <li class="dropdown-item clickable menu-item-text" v-on:click="logout">ログアウト</li>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>


<script>
export default {
  data () {
    return {

    }
  },

  mounted(){

  },

  computed:{
    selected: function(){
      return this.$route.path.split('/')[1];
    },
    isLoggedIn: function(){
      return this.$store.getters['auth/authenticated'];
    }
  },

  methods: {
    logout () {
      this.$store.dispatch('auth/logout');
      this.$router.push({path:'/logout'});
    }
  }

}
</script>


<style scoped>

.invisible {
  display:none;
}
.text-black {
  color:#1d1e1f;
}
.clickable {
  cursor:pointer;
}
.clickable:active{
  background-color:#fff;
}
.selected-navli{
  border-bottom: solid 4px #F8E81C;
}
.logo-margin {
  margin-right:15px;
}
.menu-item-text {
  font-size: 0.9rem;
  line-height: 34px;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
nav {
    background-color: #644480;
    max-width: none;
    max-height: none;
    height: 60px;
    width: 100%;
    box-shadow: 1px 1px 10px;
}
ul.nav {
  list-style: none;
  line-height: 50px;
}
li.navli {
  display: inline-block;
  color: #FFFFFF;
  font-size: 1rem;
  height: 52px;
}
img.logo {
  margin-right: 30px;
  margin-left: 5px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-top:5px;
  width: 123px;
}
img.minilogo {
  height: 23px;
  margin-right: 10px;
  margin-bottom: 5px;
}
img.lightlogo {
  height: 30px;
  margin-left: auto;
}
.navli_order {
  width: 130px;
}
.navli_lineitem {
  width: 165px;
}
.navli_creative {
  width: 185px;
}
.navli_advertiser {
  width: 125px;
}
.navli_audience {
  width: 185px;
}
.display_inline-block {
  display: inline-block;
}
.margin-left_auto {
  margin-left: auto;
}
.margin-left-right_5 {
  margin: 0 5px;
}
.width_100 {
  width: 100px;
}
.width_105 {
  width: 105px;
}
.width_135 {
  width: 135px;
}
.width_150 {
  width: 150px;
}
.width_160 {
  width: 160px;
}
.heder_label {
  font-weight: bold;
}
</style>
