<template>
  <li class="tree-node">
    <div :class="{'tree-leaf': node.children.length == 0}" class="tree-node-box">
      <span :class="{expand: expand}" v-if="node.children.length > 0" @click="toggle" class="tree-node-toggle"></span>
      <label class="tree-node-checkbox" :class="{checked: node.checked}" @click="check"></label>
      {{node.text}}
    </div>
    <ul class="tree-nodes" v-show="expand" v-if="node.children.length > 0">
      <tree v-for="n in node.children" :node="n"></tree>
    </ul>
  </li>
</template>

<script>
// README: 現在使っていないコンポーネント。 地域ターゲティング実装時に使う可能性あり。
// ref: https://git.oschina.net/qinshenxue/vue-example/

export default {
  name: 'tree',
  props: ['node'],
  data: function () {
    return {
        expand: true
    }
  },
  methods: {
    toggle: function () {
      this.expand = !this.expand;
    },
    check: function () {
      this.node.checked = !this.node.checked;
    }
  },
  watch: {
    'node.checked': {
      handler: function (val, oldVal) {
        for (var i = 0, j = this.node.children.length; i < j; i++) {
          this.node.children[i].checked = val;
        }
      }
    }
  }

}

/* treeData example


      treeData: [
        {
          id: '1',
          text: '東京都',
          checked: false,
          children: [
            {
              id: '2',
              text: '渋谷区',
              checked: false,
              children: []
            },
            {
              id: '7',
              text: '新宿区',
              checked: false,
              children: []
            }
          ]

        },
        {
          id: '11',
          text: '千葉県',
          checked: false,
          children: [
            {
                id: '9',
                cls: 'store',
                text: '船橋市',
                checked: false,
                children: []
            }, {
                id: '10',
                cls: 'store',
                checked: false,
                text: '浦安市',
                children: []
            }
          ]
        },
        {
          id: '12',
          text: '沖縄',
          checked: false,
          children: []
        }
      ]


*/

</script>


<style scoped>

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.tree {
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    border: 1px solid #ddd;
    padding-left: 1.5em;
}

.tree > .tree-node > .tree-node-box:after {
    display: none;
}

.tree-node > .tree-nodes {
    margin-left: 2em;
}

.tree-node {
    position: relative;
    line-height: 2;
}

.tree-node-checkbox,
.tree-node-toggle {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-top: 0.5em;
    margin-right: 0.2em;
    vertical-align: top;
    cursor: pointer;
    background: #fff;
}

.tree-node-checkbox {
    border: 1px solid #09c;
}

.tree-node-checkbox.checked:before {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    bottom: 0.2em;
    left: 0.2em;
    background: #09c;
    content: '';
}

.tree-leaf .tree-node-checkbox {
    margin-left: 1.2em;
}

.tree-node-toggle {
    border: 1px dashed #aaa;
}

.tree-node-toggle:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.6em;
    margin-left: -0.3em;
    border-top: 1px solid #aaa;
    content: '';
}

.tree-node-toggle:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0.6em;
    margin-top: -0.3em;
    border-left: 1px solid #aaa;
    content: '';
}

.tree-node-toggle.expand:after {
    display: none;
}

.tree-checkbox input[type="checkbox"] {
    display: none;
}

.tree-node-box {
    position: relative;
}

.tree-node:not(:last-child):after {

    position: absolute;
    left: -1.5em;
    top: 1em;
    height: 100%;
    border-left: 1px dashed #ddd;
    content: '';
}

.tree-node-box.tree-leaf:before {
    width: 3.2em;
}

.tree-node:last-child:not(:first-child) > .tree-node-box:after {
    display: none;
}

.tree-node-box:before {

    position: absolute;
    left: -1.5em;
    top: 1em;
    width: 2em;
    border-top: 1px dashed #ddd;
    content: '';
    z-index: -1;
}

.tree-node-box:after {
    position: absolute;
    left: -1.5em;
    top: -1em;
    height: 2em;
    border-left: 1px dashed #ddd;
    content: '';
    z-index: -1;
}
</style>
